<header class="th-header header-layout1">
  <div class="header-top">
    <div class="container">
      <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
        <div class="col-md-9 d-none d-lg-block text-end">
          <div class="header-links">
            <ul>
              <!-- <li><a routerLink="/about-university">Amity Universe</a></li> -->
              <li>
                <a href="https://amity.edu/microsite" rel="noopener noreferrer" target="_blank">Admission Portal</a>
              </li>
              <li><a routerLink="/infrastructure">Infrastructure </a></li>
              <li>
                <a href="https://noida.amity.edu/blog/" rel="noopener noreferrer" target="_blank">Blogs</a>
              </li>
              <li><a routerLink="/news">News</a></li>
              <li>
                <a href="https://noida.amity.edu/alumni/" rel="noopener noreferrer" target="_blank">Alumni</a>
              </li>
              <li><a routerLink="/careers-at-amity">Careers at Amity</a></li>
              <li><a routerLink="/contact-us">Contact Us</a></li>
              <li>
                <a class="nav-link" href="assets/pdf/CampusTourScheduleAY2026.pdf" rel="noopener noreferrer" target="_blank">Campus
                  Tour</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 text-end">
          <div class="header-links header-right">
            <ul>
              <li>
                <div class="header-social">
                  <a href="https://www.instagram.com/amityuniversity.noida/" target="_blank" rel="noopener noreferrer"
                    aria-label="Follow Amity University Noida on Instagram">
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                  </a>

                  <a href="https://in.linkedin.com/school/amity-university/" target="_blank" rel="noopener noreferrer"
                    aria-label="Visit Amity University on LinkedIn">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                  </a>

                  <a href="https://www.youtube.com/@amityuni" target="_blank" rel="noopener noreferrer"
                    aria-label="Visit Amity University YouTube channel">
                    <i class="fab fa-youtube" aria-hidden="true"></i>
                  </a>

                  <a href="https://www.facebook.com/amityuni/" target="_blank" rel="noopener noreferrer"
                    aria-label="Visit Amity University on Facebook">
                    <i class="fab fa-facebook" aria-hidden="true"></i>
                  </a>

                  <a href="https://x.com/AmityUni" target="_blank" rel="noopener noreferrer"
                    aria-label="Visit Amity University on X">
                    <i class="fab fa-twitter" aria-hidden="true"></i>
                  </a>

                  &nbsp;&nbsp;

                  <a routerLink="/all-programs" aria-label="Search Programs">
                    <i class="fa-solid fa-magnifying-glass" aria-hidden="true" style="font-size: 18px"></i>
                  </a>
                </div>

                <!-- <div class="header-social">
                  <a href="https://www.instagram.com/amityuniversity.noida/" target="_blank"><i class="fab fa-instagram"
                      style="font-weight: 600"></i></a>
                  <a href="https://in.linkedin.com/school/amity-university/" target="_blank"><i
                      class="fab fa-linkedin"></i></a>
                  <a href="https://www.youtube.com/@amityuni" target="_blank"><i class="fab fa-youtube"></i></a>
                  <a href="https://www.facebook.com/amityuni/" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="https://x.com/AmityUni" target="_blank"><i class="fab fa-twitter"></i></a>
                  &nbsp;&nbsp;
                  <a routerLink="/all-programs"><i class="fa-solid fa-magnifying-glass" style="font-size: 18px"></i></a>
                </div> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg nav-background" id="navbar">
    <div class="nav-sec">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 p-12">
            <a class="navbar-brand" routerLink="/" title="Amity University Noida Home"
              aria-label="Go to Amity University Noida homepage">
              <img src="assets/img/amity-logo.png" alt="Amity University Noida Logo" class="img-fluid" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="col-md-10">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">About Us</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" routerLink="/rankings">Rankings</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/accreditations">Accreditations</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/leadership">Leadership
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/testimonials">Testimonials
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/vision-mission">Vision/Mission</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/amity-university-logo">Amity University Logo</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/tie-ups">TIE UPS</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="https://www.youtube.com/watch?v=byEQ07OirOM" target="_blank"
                        rel="noopener noreferrer">Virtual Tour</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Admissions</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" routerLink="/how-to-apply">How to Apply</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/fee-structure">Fee Structure</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/admission-career-test">Career Test</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/scholarships">Scholarships</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/education-loan">Education Loan</a>
                    </li>
                    <li><a class="dropdown-item" routerLink="/faq">FAQs</a></li>
                    <li>
                      <a class="dropdown-item" routerLink="/withdrawal">Withdrawal</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/international-students">International Students</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="https://www.amity.edu/phd/" rel="noopener noreferrer"
                        target="_blank">Ph.D Admission</a>
                    </li>
                    <li><a class="dropdown-item" href="assets/pdf/admission-prospectus-2026.pdf"
                        target="_blank">Admission Prospectus 2026</a></li>
                    <li>
                      <a class="dropdown-item" href="https://www.amity.edu/Lateral/" rel="noopener noreferrer"
                        target="_blank">Lateral
                        Admission</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="https://noida.amity.edu/webinars/" rel="noopener noreferrer"
                        target="_blank">Webinars</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Programs</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" routerLink="/ug">Undergraduate Programs
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/pg">Postgraduate Programs
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/phd">Doctoral Programs</a>
                    </li>
                    <!-- <li>
                      <a class="dropdown-item" routerLink="/work-integrated-programs">Work-Integrated Programs</a>
                    </li> -->
                    <li>
                      <a class="dropdown-item" routerLink="/all-programs">Find a Program</a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Academics</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" routerLink="/faculty">Faculty</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/study-abroad-program">Study Abroad</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/flexible-credit-system">Flexible Credit System</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/mentoring-system">Mentoring System</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/guest-lectures">Guest Lectures</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="https://amityfinishingschool.com/" target="_blank"
                        rel="noopener noreferrer">Amity Finishing
                        School</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/foreign-language">Foreign Language</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/academia">The Academia</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/behavioral-science">Behavioral Science Modules</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/industry-interacton">Industry Interaction</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/beyond-academics">Beyond Academics</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="https://amity.edu/summerschool/" target="_blank"
                        rel="noopener noreferrer">Summer School</a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Placements</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" routerLink="/placements">Placements</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/placement-statistics">Placement Statistics</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="assets/pdf/Amity_Outcome_Brochure.pdf" rel="noopener noreferrer" target="_blank">Placement
                        Outcome</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/career-resource-centre">CRC</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/higher-education">Higher Education</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/corporate-partners">Corporate Partners</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="https://www.amity.edu/placement/default.aspx" target="_blank"
                        rel="noopener noreferrer">Placement Drives</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/incubator">Amity Incubator</a>
                    </li>

                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Research</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" routerLink="/patents">Patents</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/publications">Publications
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/case-studies">Case Studies
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/sponsored-projects">Sponsored Projects</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/conferences">Conferences
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/research-centres">Research Centres</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/student-innovation">Student Innovation</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/student-research">Student Research
                      </a>
                    </li>
                  </ul>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Campus Life</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" routerLink="/campus-events">Campus Events</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/university-fest">University Fest</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/student-clubs">Student Clubs</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/student-life">Student Life</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/sangathan">Sangathan</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/diversity">Diversity</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/campus-security">Campus Security</a>
                    </li>
                  </ul>
                </li>

                <!-- Nav for Mobile version -->

                <li class="nav-item desktop-none">
                  <a class="nav-link" href="https://amity.edu/microsite" rel="noopener noreferrer"
                    target="_blank">Admission Portal</a>
                </li>
                <li class="nav-item desktop-none">
                  <a class="nav-link" routerLink="/infrastructure">Infrastructure
                  </a>
                </li>
                <li class="nav-item desktop-none">
                  <a class="nav-link" href="https://noida.amity.edu/blog/" rel="noopener noreferrer"
                    target="_blank">Blogs</a>
                </li>
                <li class="nav-item desktop-none">
                  <a class="nav-link" routerLink="/news">News</a>
                </li>
                <li class="nav-item desktop-none">
                  <a class="nav-link" href="https://noida.amity.edu/alumni/" rel="noopener noreferrer"
                    target="_blank">Alumni</a>
                </li>
                <li class="nav-item desktop-none">
                  <a class="nav-link" routerLink="/careers-at-amity">Careers at Amity</a>
                </li>
                <li class="nav-item desktop-none">
                  <a class="nav-link" routerLink="/contact-us">Contact Us</a>
                </li>
                <li class="nav-item desktop-none">
                  <a class="nav-link" href="assets/pdf/CampusTourScheduleAY2026.pdf" rel="noopener noreferrer" target="_blank">Campus
                    Tour</a>
                </li>

                <!-- <li>
                                    <a class="nav-link search-li" class="icon-btn searchBoxToggler mr-2 mt-4" routerLink="/all-programs" aria-label="Search All Programs">
                                        <i class="far fa-search" aria-hidden="true"></i>
                                    </a>                                    
                                </li> -->
                <li class="apply-btn-mb">
                  <a href="https://noida.amity.edu/admissions-2026/?utm_source=organic&utm_medium=Google_SERP&utm_campaign=HPHeaderApply&utm_term={keyword}"
                    target="_blank" rel="noopener noreferrer" class="th-btn" aria-label="Apply for admission at Amity University Noida"
                    (click)="onClickEvent('header_apply_now_clicked')">Apply Now <i
                      class="fas fa-arrow-right ms-1"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- The Modal -->
<div class="modal fade" id="applyBtn">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Last Date to Apply</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>
          Last Date to apply for all UG & PG programs for this round of
          admissions
        </p>
        <!-- <p><b>15 Sep 2024</b></p> -->
        <a href="https://noida.amity.edu/admissions-2026/?utm_source=organic&utm_medium=Google_SERP&utm_campaign=HPHeaderApply&utm_term={keyword}"
          target="_blank" rel="noopener noreferrer" style="padding: 12px" class="th-btn">Apply
          Now <i class="fas fa-arrow-right ms-1"></i></a>
      </div>
    </div>
  </div>
</div>