<footer class="footer-wrapper footer-layout-2">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-3 col-6">
                    <div class="widget widget_nav_menu footer-widget">
                        <p class="widget_title">Our Programs</p>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a routerLink="/ug">Undergraduate Programs</a></li>
                                <li><a routerLink="/pg">Postgraduate Programs </a></li>
                                <li><a routerLink="/phd">Doctoral Programs</a></li>
                                <!-- <li><a href="https://amityonline.com/" target="_blank">Online Courses</a></li> -->
                            </ul>
                        </div>
                        <p>&nbsp;</p>
                        <p class="widget_title">Campus Life
                        </p>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a routerLink="/campus-events">Campus Events</a></li>
                                <li><a routerLink="/university-fest">University Fest</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="widget widget_nav_menu footer-widget">
                        <p class="widget_title">Admissions</p>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a routerLink="/how-to-apply">How to Apply</a></li>
                                <li>
                                    <a routerLink="/fee-structure">Fee Structure</a>
                                </li>
                                <li><a routerLink="/admission-career-test">Career Test</a></li>
                                <li><a routerLink="/scholarships">Scholarships</a></li>
                                <li><a routerLink="/education-loan">Education Loan</a></li>
                                <li><a routerLink="/faq">FAQs</a></li>
                                <li><a routerLink="/withdrawal">Withdrawal</a></li>
                                <!-- <li><a href="https://amity.edu/microsite" target="_blank">Admission Portal</a></li> -->
                                <li><a href="https://www.amity.edu/Lateral/" target="_blank"
                                        rel="noopener noreferrer">Lateral Admission</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="widget widget_nav_menu footer-widget">
                        <p class="widget_title">Other Links</p>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="https://amizone.net/amizone/" target="_blank"
                                        rel="noopener noreferrer">Amizone</a></li>
                                <li><a href="https://noida.amity.edu/alumni/" target="_blank"
                                        rel="noopener noreferrer">Alumni Portal</a></li>
                                <li><a routerLink="/placements">Placements</a></li>
                                <li><a routerLink="/faculty">Faculty</a></li>
                                <li><a routerLink="/study-abroad-program">Study Abroad</a></li>
                                <li><a routerLink="/contact-us">Contact</a></li>
                                <li><a href="https://amity.edu/summerschool/" target="_blank"
                                        rel="noopener noreferrer">Amity Summer School</a>
                                </li>
                                <li><a href="https://amity.edu/amityeducationfoundation/" target="_blank"
                                        rel="noopener noreferrer">Amity
                                        Foundation</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="widget widget_nav_menu footer-widget">
                        <p class="widget_title">Media</p>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a routerLink="/events">Events</a></li>
                                <li><a routerLink="/media-coverage">Media Coverage</a></li>
                                <li><a routerLink="/student-clubs">Student Clubs</a></li>
                            </ul>
                        </div>
                        <p>&nbsp;</p>
                        <p class="widget_title">Explore / Engage
                        </p>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li>
                                    <a href="https://amity.edu/360-VIEW.aspx" target="_blank" rel="noopener noreferrer">
                                        <img src="https://amity.edu/images/360-icon.png" alt="360° View Icon" width="24"
                                            height="24">
                                        360° VIEW
                                    </a>
                                </li>
                                <li>
                                    <a href="https://radioamity.com/" target="_blank" rel="noopener noreferrer"><i
                                            class="fa fa-microphone" aria-hidden="true">&nbsp;</i> Amity Radio Live</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3  col-12">
                    <div class="widget widget_contact footer-widget">
                        <p class="widget_title">Get in touch!</p>
                        <div class="th-widget-contact">
                            <div class="info-box-wrap">
                                <div class="info-box_icon"><i class="fas fa-location-dot" aria-hidden="true"></i></div>
                                <p class="info-box_text">
                                    <a href="https://maps.app.goo.gl/y3kddHMA7haxBMsJ9" target="_blank"
                                        rel="noopener noreferrer"
                                        aria-label="View Amity University Noida on Google Maps" style="color: #b3c1d3;">
                                        Amity Rd, Sector 125, Noida, Uttar Pradesh 201301
                                    </a>
                                </p>
                            </div>
                            <div class="info-box-wrap">
                                <div class="info-box_icon"><i class="fas fa-envelope" aria-hidden="true"></i></div>
                                <a href="mailto:admissions&#64;amity.edu"
                                    class="info-box_link">admissions&#64;amity.edu</a>
                            </div>
                            <div class="info-box-wrap">
                                <div class="info-box_icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
                                <a href="tel:01202445252" class="info-box_link">0120-2445252 /</a>
                                <a style="margin-left: -12px;" class="info-box_link" href="tel:01204713600">4713600</a>
                            </div>
                            <div class="th-social">
                                <a href="https://www.instagram.com/amityuniversity.noida/" target="_blank"
                                    rel="noopener noreferrer" title="Contact Amity University on instagram"
                                    aria-label="instagram">
                                    <i class="fab fa-instagram" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.facebook.com/amityuni/" target="_blank" rel="noopener noreferrer"
                                    title="Follow Amity University on Facebook" aria-label="Facebook">
                                    <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                </a>
                                <a href="https://x.com/AmityUni" target="_blank" rel="noopener noreferrer"
                                    title="Follow Amity University on Twitter" aria-label="Twitter">
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="https://in.linkedin.com/school/amity-university/" target="_blank"
                                    rel="noopener noreferrer" title="Connect with Amity University on LinkedIn"
                                    aria-label="LinkedIn">
                                    <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.youtube.com/@amityuni" target="_blank" rel="noopener noreferrer"
                                    title="Subscribe to Amity University's YouTube channel" aria-label="YouTube">
                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- <div class="col-md-12 col-12 text-center">
                    <button class="btn btn-link footer-toggle-btn" style="color: #fff;" (click)="toggleFooterLinks()">
                        {{ showFooterLinks ? 'Show Less Links' : 'Show More Links' }}
                        <span class="ms-1">
                            <i class="fa" [ngClass]="showFooterLinks ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                        </span>
                    </button>
                </div>

                
                <div *ngIf="showFooterLinks" class="footer-program-links-wrapper col-md-12 col-12">
                    <div class="footer-program-block">
                        <div class="footer-program-head" (click)="toggle('ug')">
                            <strong>Undergraduate Programs</strong>
                            <span class="iconfooter">{{ activePanel === 'ug' ? '–' : '+' }}</span>
                        </div>

                        <div class="footer-program-body" *ngIf="activePanel === 'ug'">
                            <a *ngFor="let p of ugPrograms; let last = last"
                                [routerLink]="['/ug', p.Disciplineslugname, p.SlugName]">
                                {{ p.sfullname }}<span class="colspace" *ngIf="!last"> | </span>
                            </a>
                        </div>
                    </div>
                    <div class="footer-program-block">
                        <div class="footer-program-head" (click)="toggle('pg')">
                            <strong>Postgraduate Programs</strong>
                            <span class="iconfooter">{{ activePanel === 'pg' ? '–' : '+' }}</span>
                        </div>

                        <div class="footer-program-body" *ngIf="activePanel === 'pg'">
                            <a *ngFor="let p of pgPrograms; let last = last"
                                [routerLink]="['/pg', p.Disciplineslugname, p.SlugName]">
                                {{ p.sfullname }}<span class="colspace" *ngIf="!last"> | </span>
                            </a>
                        </div>
                    </div>
                    <div class="footer-program-block">
                        <div class="footer-program-head" (click)="toggle('phd')">
                            <strong>Ph.D Programs</strong>
                            <span class="iconfooter">{{ activePanel === 'phd' ? '–' : '+' }}</span>
                        </div>

                        <div class="footer-program-body" *ngIf="activePanel === 'phd'">
                            <a *ngFor="let p of phdPrograms; let last = last"
                                [routerLink]="['/phd', p.Disciplineslugname, p.SlugName]">
                                {{ p.sfullname }}<span class="colspace" *ngIf="!last"> | </span>
                            </a>
                        </div>
                    </div>

                    <div class="footer-program-block">
                        <div class="footer-program-head" (click)="toggle('resources')">
                            <strong>Resources</strong>
                            <span class="iconfooter">{{ activePanel === 'resources' ? '–' : '+' }}</span>
                        </div>

                        <div class="footer-program-body" *ngIf="activePanel === 'resources'">
                            <a href="https://noida.amity.edu/blog/" target="_blank">University Blog & Insights</a> |
                            <a routerLink="/case-studies">Case Studies</a> |
                            <a routerLink="/publications">Research Publications</a> |
                            <a routerLink="/faq">FAQ</a>
                        </div>
                    </div>
                    <div class="footer-program-block">
                        <div class="footer-program-head" (click)="toggle('admission')">
                            <strong>Admission</strong>
                            <span class="iconfooter">{{ activePanel === 'admission' ? '–' : '+' }}</span>
                        </div>

                        <div class="footer-program-body" *ngIf="activePanel === 'admission'">
                            <a href="https://noida.amity.edu/scholarships/" target="_blank">Scholarships</a> |
                            <a routerLink="/international-students">International Students’ Admission</a> |
                            <a routerLink="/how-to-apply">How to Apply for Admissions</a> |
                            <a routerLink="/withdrawal">Academic Withdrawal Refund</a> |
                            <a routerLink="/education-loan">Education Loan Assistance</a> |
                            <a href="https://noida.amity.edu/admissions-2026/" target="_blank">Admissions 2026 -
                                Apply Now</a>
                        </div>
                    </div>

                    <div class="footer-program-block">
                        <div class="footer-program-head" (click)="toggle('academics')">
                            <strong>Academics</strong>
                            <span class="iconfooter">{{ activePanel === 'academics' ? '–' : '+' }}</span>
                        </div>

                        <div class="footer-program-body" *ngIf="activePanel === 'academics'">
                            <a routerLink="/all-programs">All Programs & Courses</a> |
                            <a routerLink="/contact-us">Contact</a> |
                            <a routerLink="/faculty">Faculty</a> |
                            <a routerLink="/study-abroad-program">Study Abroad Programs</a> |
                            <a routerLink="/flexible-credit-system">Flexible Credit System</a> |
                            <a routerLink="/foreign-language">Foreign Language Courses</a> |
                            <a routerLink="/behavioral-science">Behavioral Science Programs</a>
                        </div>
                    </div>

                    <div class="footer-program-block">
                        <div class="footer-program-head" (click)="toggle('placements')">
                            <strong>Placements</strong>
                            <span class="iconfooter">{{ activePanel === 'placements' ? '–' : '+' }}</span>
                        </div>

                        <div class="footer-program-body" *ngIf="activePanel === 'placements'">
                            <a routerLink="/career-resource-centre">Career Resource Centre</a> |
                            <a routerLink="/placements">Placement Data</a> |
                            <a routerLink="/higher-education">Higher Education Opportunities</a> |
                            <a routerLink="/placement-statistics">Placement Statistics</a> |
                            <a routerLink="/corporate-partners">Corporate Partners</a> |
                            <a routerLink="/incubator">Innovation Incubator</a>
                        </div>
                    </div>


                </div> -->


            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row align-items-center">

                <!-- Left copyright -->
                <div class="col-md-6 col-12 text-md-start text-center">
                    <p class="copyright-text mb-2 mb-md-0">
                        Copyright © 2026 Amity University | All Rights Reserved.
                    </p>
                </div>


                <!-- Right links -->
                <div class="col-md-6 d-none d-md-block text-end">
                    <div class="footer-links">
                        <ul>
                            <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                            <li><a routerLink="/sitemap">Sitemap</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</footer>


<app-enquiryform></app-enquiryform>

<!-- <div class="enquiry-now-btn">
    <img src="assets/img/enquiry-now.png" alt="Enquiry Now" data-bs-toggle="modal" data-bs-target="#enquiryNow">
</div> -->

<!-- <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div> -->


<!-- The Enqyuiry Modal -->
<!-- <div class="modal fade" id="enquiryNow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title"><b>Enquire Now</b></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form ajax-contact">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control style-white" formControlName="Name"
                                    placeholder="Name*" />
                                <i class="fal fa-user"></i>
                                <div *ngIf="contactForm.get('Name')?.touched && contactForm.get('Name')?.invalid">
                                    <b><small class="text-danger"
                                            *ngIf="contactForm.get('Name')?.errors?.['required']">Name is
                                            required.</small></b>
                                    <b><small class="text-danger"
                                            *ngIf="contactForm.get('Name')?.errors?.['minlength']">Name must be at least
                                            2
                                            characters long.</small></b>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="email" class="form-control style-white" formControlName="Email"
                                    placeholder="Email*" />
                                <i class="fal fa-envelope"></i>
                                <div *ngIf="contactForm.get('Email')?.touched && contactForm.get('Email')?.invalid">
                                    <b><small class="text-danger"
                                            *ngIf="contactForm.get('Email')?.errors?.['required']">Email is
                                            required.</small></b>
                                    <b><small class="text-danger"
                                            *ngIf="contactForm.get('Email')?.errors?.['email']">Enter
                                            a valid email.</small></b>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="margin-bottom: 10px;">
                            <div>
                                <div class="form-group" style="display: flex; margin-bottom: 0px;">
                                    <select formControlName="scountrycode" class="form-control style-white"
                                        style="width: 100px; margin-right: 10px; padding-right: 0px;">
                                        <option *ngFor="let item of countryCodes;" [value]="item.phone_code">
                                            {{ item.country_name }} +{{ item.phone_code }}
                                        </option>
                                    </select>

                                    <input type="tel" class="form-control style-white" formControlName="Phone"
                                        placeholder="Mobile*" />
                                    <i class="fal fa-phone"></i>
                                </div>
                                <div *ngIf="contactForm.get('Phone')?.touched && contactForm.get('Phone')?.invalid">
                                    <b>
                                        <small class="text-danger"
                                            *ngIf="contactForm.get('Phone')?.errors?.['required']">
                                            Phone number is required.
                                        </small>
                                    </b>
                                    <b>
                                        <small class="text-danger"
                                            *ngIf="contactForm.get('Phone')?.errors?.['pattern']">
                                            Enter a valid 10-digit phone number.
                                        </small>
                                    </b>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="ug-program-radio">
                                    <input class="form-check-input" type="radio" id="ug-program" formControlName="stype"
                                        value="G" (change)="onProgramTypeChange($event, 'G')"
                                        [checked]="selectedProgramType === 'G'" />
                                    <label class="form-check-label" for="ug-program">UG Program</label>
                                </div>

                                <div class="ug-program-radio">
                                    <input class="form-check-input" type="radio" id="pg-program" formControlName="stype"
                                        value="PG" (change)="onProgramTypeChange($event, 'PG')"
                                        [checked]="selectedProgramType === 'PG'" />
                                    <label class="form-check-label" for="pg-program">PG Program</label>
                                </div>

                                <div *ngIf="contactForm.get('stype')?.touched && contactForm.get('stype')?.invalid">
                                    <b><small class="text-danger"
                                            *ngIf="contactForm.get('stype')?.errors?.['required']">Please select a
                                            Program Type.</small></b>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="form-control" formControlName="scoursecode" id="programSelect">
                                    <option value="">Select Program*</option>
                                    <option *ngFor="let item of displayedPrograms" [value]="item.value">
                                        {{ item.sfullname || 'Unnamed Program' }}
                                    </option>
                                </select>
                                <div
                                    *ngIf="contactForm.get('scoursecode')?.touched && contactForm.get('scoursecode')?.invalid">
                                    <b>
                                        <small class="text-danger"
                                            *ngIf="contactForm.get('scoursecode')?.errors?.['required']">
                                            Please select a Program.
                                        </small>
                                    </b>
                                </div>
                            </div>
                        </div>


                        <div class="form-btn col-12 mt-10">
                            <button type="submit" class="th-btn">
                                Send Message<i class="fas fa-long-arrow-right ms-2"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div> -->


<!-- <div class="popup">
    <div class="cut" onclick="this.parentElement.style.display='none'">X</div>
    
    <a href="https://noida.amity.edu/careerplanningsession/?utm_source=Organic&utm_medium=website" target="_blank">
        <p><b>Register for Career Planning Session</b></p>
    </a>
</div> -->