@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --thm-font: "Montserrat", sans-serif;
  --thm-reey-font: "reeyregular";
  --thm-gray: #726f84;
  --thm-gray-rgb: 114, 111, 132;
  --thm-primary: #183e65;
  --thm-primary-rgb: 24, 62, 101;
  --thm-black: #0f0d1d;
  --thm-black-rgb: 15, 13, 29;
  --thm-base: #ffffff;
  --thm-base-rgb: 255, 255, 255;
  --thm-light: #f2f4f8;
  --thm-light-rgb: 242, 244, 248;
  --thm-letter-space-big: 0.1em;
  --thm-letter-space-small: -0.02em;
}

.row {
  --bs-gutter-x: 30px;
}

.gutter-y-30 {
  --bs-gutter-y: 30px;
}

body {
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
}

body.locked {
  overflow: hidden;
}

a {
  color: #001111;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--thm-black);
  margin: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

/* boxed style */

body.boxed-wrapper {
  background-color: var(--thm-light);
}

.boxed-wrapper .page-wrapper {
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--thm-base);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.08);
}

.boxed-wrapper .page-wrapper__dark {
  background-color: #1c1e22;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

.section-separator {
  border-color: var(--thm-border);
  border-width: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

.thm-btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  border: none;
  outline: none !important;
  background: #f4c037;
  padding: 20px 50px;
  transition: 500ms;
  letter-spacing: 0.1em;
  font-size: 24px;
  line-height: 32px;
  color: #111111;
  text-transform: uppercase;
  font-weight: 600;
}

.thm-btn:hover {
  background: var(--thm-base);
  color: var(--thm-primary);
}

.section-title {
  margin-top: -12px;
  margin-bottom: 20px;
}

.section-title__title {
  margin: 0;
  font-weight: 300;
  color: #111111;
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 8px;
  letter-spacing: 1;
}
.section-title__title strong {
  font-weight: 600;
}
.section-title__title span {
  display: block;
}

.section-title__title2 {
  margin: 0;
  font-weight: 300;
  color: #111111;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 8px;
  letter-spacing: 1;
}
.section-title__yellow {
  color: #f4bf00 !important;
}

.section-title__tagline {
  position: relative;
  display: inline-block;
  color: #303030;
  font-size: 26px;
  align-items: center;
  line-height: 34px;
}

.bootstrap-select .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}

.bootstrap-select .dropdown-item.active,
.bootstrap-select .dropdown-item:active {
  background-color: var(--thm-base);
}

/* scroll to top */
.scroll-to-top {
  display: inline-block;
  width: 45px;
  height: 45px;
  background: var(--thm-primary);
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 99;
  text-align: center;
  transition: all 0.4s ease;
  display: none;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.scroll-to-top i {
  color: var(--thm-base);
  font-size: 18px;
  line-height: 45px;
}

.scroll-to-top:hover {
  background-color: var(--thm-black);
}

.scroll-to-top:hover i {
  color: var(--thm-base);
}

.padding {
  padding: 60px 0;
}

/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/
.banner {
  background: url(https://noida.amity.edu/assets/placements/images/banner.webp) center top no-repeat;
  padding: 40px 0 60px;
}
.banner-mob {
  display: none;
}

.banner_content {
  margin-top: 0%;
}
.banner h1 {
  font-size: 40px;
  line-height: 44px;
  color: #ffc104;
  margin-bottom: 10px;
  font-weight: 700;
}
.banner h1 span {
  display: block;
}
.banner h2 {
  font-size: 36px;
  line-height: 40px;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.banner h2 span {
  display: block;
}

.key-stats {
  background: #032d4f;
  padding: 20px 0;
}
.key-box {
  text-align: center;
}
.key-box h2 {
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 5px;
}
.key-box p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 0;
  text-align: center;
}
.key-box-border {
  border-right: solid 1px #93819b;
}

.speak {
  background: #fff;
  text-align: center;
}
.speak h3 {
  font-size: 22px;
  line-height: 28px;
  color: #000;
  font-weight: 600;
  margin: 25px 0;
}
.speak p {
  font-size: 18px;
  line-height: 24px;
  color: #303030;
  font-weight: 300;
  margin-bottom: 0;
  text-align: center;
}
.speak_number {
  border: solid 1px #cacaca;
  padding: 30px 20px;
  border-radius: 20px;
  height: 100%;
  text-align: center;
}

.speak-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: -15%;
}
.speak-header h1 {
  font-size: 32px;
  line-height: 40px;
  color: #032d4f;
  font-weight: 600;
  background: #fff;
  padding: 0 15px;
  margin-bottom: 10px;
}
.speak_number p {
  font-size: 18px;
  line-height: 24px;
  color: #303030;
  font-weight: 500;
  margin-bottom: 0;
}
.speak_number p span {
  font-size: 15px;
  line-height: 20px;
  color: #303030;
  font-weight: 100;
  display: block;
}

.placements {
  background: url(https://noida.amity.edu/assets/placements/images/placements-bg.webp) no-repeat center top #01609a;
  text-align: center;
}
.placements-block {
  margin-top: 5%;
}
.placements-box img {
  border-radius: 20px;
}
.owl-placements .owl-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 2%;
}
.owl-placements .owl-dot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 1px solid #a9a9a9 !important;
  background-color: #a9a9a9 !important;
}
.owl-placements .owl-dot.active {
  border: 1px solid #454b4c !important;
  background-color: #454b4c !important;
}

.owl-placements .owl-nav .owl-next {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  font-size: 24px;
  background: #a9a9a9 !important;
  color: #fff !important;
  right: 0px;
  top: -15%;
  border-radius: 50%;
  padding: 3px 12px;
}

.owl-placements .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  font-size: 24px;
  background: #a9a9a9 !important;
  color: #fff !important;
  right: 50px;
  top: -15%;
  border-radius: 50%;
  padding: 3px 12px;
}

.placement-card {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
}

.profile-img {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.profile-img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 6px solid #fff;
  object-fit: cover;
}

.placement-info {
  background: #ecf5fc;
  padding: 130px 30px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: left;
}

.left h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
}

.left h3 {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
}

.divider {
  width: 1px;
  height: 60px;
  background: #000;
}

.right {
  display: flex;
  align-items: center;
}

.rupee {
  font-size: 28px;
  margin-right: 5px;
  color: #000;
}

.package {
  font-size: 70px;
  font-weight: 700;
  color: #000;
}

.package-text {
  margin-left: 10px;
  text-align: left;
  color: #000;
}

.package-text span {
  font-size: 28px;
  font-weight: 400;
  color: #000;
}

.package-text p {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.company-logo {
  background: #fff;
  width: 120px;
  margin: -25px auto 0;
  padding: 5px;
}

.company-logo img {
  width: 100%;
}

.recruiters {
  background: #fff;
  text-align: center;
}
.recruiters-block {
  background: #f4f4f4;
  border-radius: 30px;
  padding: 20px;
}

.brand-default {
  padding: 0;
  margin: 0;
}
.brand-default .brand {
  text-align: center;
}
.brand-default .brand img {
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  display: inline-block;
  padding: 17px 5px;
}

.brand-default.brand-style--2 {
  -ms-grid-columns: (1fr) [5];
  grid-template-columns: repeat(5, 1fr);
  display: -ms-grid;
  display: grid;
}
@media only screen and (max-width: 575px) {
  .brand-default.brand-style--2 {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.brand-default.brand-style--2 .brand {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.brand-default.brand-style--2 .brand::after {
  content: "";
  pointer-events: none;
  display: block;
  left: -1px;
  top: -1px;
  bottom: 0;
  pointer-events: none;
  border: 1px solid #b5b5b5;
  content: "";
  right: 0;
  position: absolute;
}

.brand-default.brand-style--3 {
  -ms-grid-columns: (1fr) [6];
  grid-template-columns: repeat(6, 1fr);
  display: -ms-grid;
  display: grid;
}
@media only screen and (max-width: 575px) {
  .brand-default.brand-style--3 {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.brand-default.brand-style--3 .brand {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.brand-default.brand-style--3 .brand::after {
  content: "";
  pointer-events: none;
  display: block;
  left: -1px;
  top: -1px;
  bottom: 0;
  pointer-events: none;
  border: 1px solid #f3d4d4;
  content: "";
  right: 0;
  position: absolute;
}

.brand-default.brand-style--4 {
  -ms-grid-columns: (1fr) [8];
  grid-template-columns: repeat(8, 1fr);
  display: -ms-grid;
  display: grid;
}
@media only screen and (max-width: 575px) {
  .brand-default.brand-style--4 {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
}
.brand-default.brand-style--4 .brand {
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.brand-default.brand-style--4 .brand::after {
  content: "";
  pointer-events: none;
  display: block;
  left: -1px;
  top: -1px;
  bottom: 0;
  pointer-events: none;
  content: "";
  right: 0;
  position: absolute;
}

.offer {
  background: #fff;
}
.offer h3 {
  font-size: 28px;
  line-height: 34px;
  color: #303030;
  font-weight: 600;
  text-align: center;
  margin: 1% 0;
}
.offer p {
  font-size: 18px;
  line-height: 24px;
  color: #303030;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0;
}

.step .step-one-accrodion .accrodion-title {
  background-color: #fff;
}

.step-one-accrodion {
  position: relative;
  display: block;
  counter-reset: count;
}

.step-one-accrodion .accrodion {
  position: relative;
  display: flex;
  border-bottom: solid 1px #c2c2c2;
  transition: all 500ms ease;
}

.step-one-accrodion .accrodion.active {
  background-color: #fff;
  border-bottom: solid 1px #c2c2c2;
}

.step-one-accrodion .accrodion-title {
  position: relative;
  display: flex;
  cursor: pointer;
  padding: 22px 0px 32px;
  padding-top: 23.5px;
  padding-left: 0px;
  padding-right: 30px;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

.step-one-accrodion .accrodion-title i {
  font-size: 50px;
  line-height: 60px;
  color: #9f9f9f;
}

.step-one-accrodion .accrodion-title h4 {
  margin: 0;
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
  color: #0e3353;
  position: relative;
  letter-spacing: var(--thm-letter-space-small);
  transition: all 500ms ease;
  width: 100%;
}

.step-one-accrodion .accrodion-title h4 span {
  position: relative;
  display: inline-block;
  color: var(--thm-primary);
}

.step-one-accrodion .accrodion-title h4 span:before {
  counter-increment: count;
  content: "" counter(count);
}

.step-one-accrodion .accrodion + .accrodion {
  margin-top: 10px;
}

.step-one-accrodion .accrodion.active .accrodion-title {
  background-color: transparent;
}

.step-one-accrodion .accrodion.active .accrodion-title h4 {
  color: #032d4f;
}
.step-one-accrodion .accrodion.active .accrodion-title i {
  color: #07284f;
}

.step-one-accrodion .accrodion-title h4::before {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 17px;
  color: #0682be;
  position: absolute;
  top: 50%;
  right: 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  transition: all 500ms ease;
  display: none;
}

.step-one-accrodion .accrodion.active .accrodion-title h4::before {
  content: "\f068";
  color: #032d4f;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.step-one-accrodion .accrodion-content {
  position: relative;
  padding: 30px 60px 28px;
  border-bottom: 0px solid #e5e5e5;
  width: 60%;
}

.step-one-accrodion .accrodion.last-chiled.active .accrodion-content {
  border-bottom: 0px solid transparent;
}

.step-one-accrodion .accrodion-content p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #303030;
  font-weight: 300;
  text-align: left;
}
.step_num {
  background-color: #07284f;
  padding: 5px 10px;
  margin-right: 5%;
  width: 30%;
  text-align: center;
}
.step_num span {
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  font-weight: 600;
}

.crc {
  background: url(https://noida.amity.edu/assets/placements/images/crc-bg.webp) no-repeat center top #0d2c4f;
  text-align: center;
}
.crc p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0;
}
.crc_box {
  background: #cbdbe7;
  height: 100%;
  padding: 30px 25px;
  text-align: center;
}
.crc_box h1 {
  font-size: 22px;
  line-height: 28px;
  color: #032d4f;
  font-weight: 600;
}
.crc_box h1 span {
  display: block;
}
.crc_box p {
  font-size: 18px;
  line-height: 24px;
  color: #303030;
  font-weight: 300;
  margin-bottom: 0;
}
.crc_box hr {
  background: #000;
  height: 2px;
}
.crc_box:hover h1,
.crc_box:hover p {
  color: #303030;
}
.crc_box:hover {
  background: #fff;
}

.career-built {
  background: #fff;
  text-align: center;
}
.career-built p {
  font-size: 18px;
  line-height: 24px;
  color: #303030;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0;
}
.internship-section {
  margin: 20px auto;
  border: 2px solid #062c4d;
  border-radius: 20px;
  padding: 40px;
  background: #fff;
}

.top-content {
  display: flex;
  gap: 30px;
  padding: 0 50px;
  align-items: flex-start;
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  color: #000;
  text-align: left;
}
.title span {
  display: block;
}

.divider {
  width: 2px;
  background: #dcdcdc;
  height: 80px;
}

.description {
  font-size: 18px;
  line-height: 22px;
  color: #303030;
  font-weight: 300;
  text-align: left;
}

.middle-title {
  text-align: center;
  margin: 30px 0 20px;
  color: #666;
}

.logo-row {
  background: #f2f2f2;
  padding: 5px 20px;
  border-radius: 15px;
}

.bottom-text {
  text-align: center;
  margin-top: 15px;
  color: #888;
  font-size: 14px;
}

/* Responsive */

@media (max-width: 768px) {
  .top-content {
    flex-direction: column;
  }

  .divider {
    display: none;
  }

  .title {
    min-width: auto;
  }

  .logo-row {
    gap: 25px;
  }
}

.global-section {
  padding: 40px;
  border: 2px solid #062c4d;
  border-radius: 20px;
  background: #fff;
  text-align: left;
}

.global-wrapper {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

/* Left Content */

.left-content {
  width: 35%;
  padding-left: 50px;
}

.left-content h2 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 15px;
}
.left-content h2 span {
  display: block;
}

.left-line {
  width: 80px;
  height: 3px;
  background: #5b7890;
  margin-bottom: 20px;
}

.left-content p {
  font-size: 18px;
  line-height: 22px;
  color: #303030;
  font-weight: 300;
  text-align: left;
}

/* Right Table */

.right-table {
  width: 65%;
  background: #f1f1f1;
  padding: 15px 40px;
  border-radius: 15px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
}

.table td {
  font-size: 16px;
  padding: 0px 12px;
  border-bottom: 1px solid #eee;
}

.country {
  display: flex;
  align-items: center;
  gap: 10px;
}

.country img {
  width: 24px;
  height: 16px;
  object-fit: cover;
  border-radius: 3px;
}

/* Responsive */

@media (max-width: 900px) {
  .global-wrapper {
    flex-direction: column;
  }

  .left-content,
  .right-table {
    width: 100%;
  }
}

.incubator {
  background: url(https://noida.amity.edu/assets/placements/images/incubator-bg.webp) no-repeat center top;
}
.incubator h1 {
  font-weight: 300;
}
.incubator h1 span {
  display: block;
  font-weight: 600;
}
.incubator p {
  font-size: 18px;
  line-height: 22px;
  color: #303030;
  font-weight: 300;
}
.incubator-mobile {
  display: none;
}

.incubator_box {
  background: #f4f4f4;
  padding-bottom: 40px;
}
.incubator_number_box {
  padding: 40px;
  margin-top: 70px;
  background: #032d4f;
  border-radius: 20px;
}
.incubator_number_box p {
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 0;
}
.incubator_number_box p strong {
  font-weight: bold;
}

.stats {
  display: flex;
  justify-content: space-between;
  background: #dedede;
  color: #fff;
  border-radius: 12px;
  margin: 20px 0;
  padding: 20px;
  margin-top: 8%;
}
.stat {
  text-align: center;
  flex: 1;
}
.stat h3 {
  margin: 0;
  font-size: 40px;
  line-height: 50px;
  color: #052c4d;
  font-weight: 700;
}
.stat p {
  margin: 5px 0 0;
  font-size: 18px;
  line-height: 22px;
  color: #303030;
}
.offers {
  text-align: center;
  margin-top: 20px;
}

.offers h3 {
  font-size: 28px;
  line-height: 34px;
  color: #303030;
  font-weight: 600;
}

.offer-box {
  border: 1px solid #c8b37f;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
}
.offer-box span {
  margin: 0 30px;
  font-size: 26px;
  color: #303030;
}
.footer-text {
  font-size: 18px;
  line-height: 22px;
  color: #303030;
  font-weight: 300;
  margin-top: 10px;
}

.amitians {
  background: url(https://noida.amity.edu/assets/placements/images/amitians-bg.webp) no-repeat center bottom;
  text-align: center;
  padding-bottom: 50px;
}
.amitians h1 {
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  font-weight: 400;
}
.amitians p {
  font-size: 18px;
  line-height: 24px;
  color: #303030;
  font-weight: 300;
  text-align: center;
}

.amitians-block {
  margin-top: 10%;
}
.amitians-box img {
  border-radius: 20px;
}
.owl-amitians .owl-dots {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 2%;
}
.owl-amitians .owl-dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #fecc00 !important;
  background-color: #fff !important;
}
.owl-amitians .owl-dot.active {
  background-color: #fecc00 !important;
}

.owl-amitians .owl-nav .owl-next {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  font-size: 24px;
  background: #a9a9a9 !important;
  color: #fff !important;
  right: 0px;
  top: -10%;
  border-radius: 50%;
  padding: 3px 12px;
}

.owl-amitians .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  font-size: 24px;
  background: #a9a9a9 !important;
  color: #fff !important;
  right: 50px;
  top: -10%;
  border-radius: 50%;
  padding: 3px 12px;
}

.amitians_list {
  width: 100%;
  padding: 20px;
  background: #e2e2e2;
  border-radius: 20px;
}
.amitians_list h1 {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  font-weight: 600;
  margin-bottom: 5px;
}
.amitians_list p {
  font-size: 16px;
  line-height: 22px;
  color: #303030;
  margin-bottom: 0;
}
.amitians_list span {
  font-size: 15px;
  line-height: 20px;
  color: #303030;
  font-weight: 300;
  display: block;
  margin-bottom: 0;
}

.amitians_list img {
  border-bottom: solid 10px #032d4f;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.amitians_list hr {
  background: #000;
  height: 2px;
  margin: 10px 0;
}

/*FAQS Page*/
.faqs-page {
  background-color: #f6f6f6;
}

.faqs-page .faq-one-accrodion .accrodion-title {
  background-color: #f9f9f9;
}

.faq-one {
  position: relative;
  display: block;
  padding: 120px 0 120px;
}

.faq-one-accrodion {
  position: relative;
  display: block;
  counter-reset: count;
  margin-top: 2%;
}

.faq-one-accrodion .accrodion {
  position: relative;
  display: block;
  background-color: #fff;
  transition: all 500ms ease;
}

.faq-one-accrodion .accrodion.active {
  background-color: #eeeeee;
}

.faq-one-accrodion .accrodion-title {
  position: relative;
  display: block;
  cursor: pointer;
  padding: 22px 0px 22px;
  padding-top: 23.5px;
  padding-left: 40px;
  padding-right: 30px;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  background-color: var(--thm-light);
}

.faq-one-accrodion .accrodion-title h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #032c4d;
  position: relative;
  transition: all 500ms ease;
}

.faq-one-accrodion .accrodion-title h4 span {
  position: relative;
  display: inline-block;
  color: var(--thm-primary);
}

.faq-one-accrodion .accrodion-title h4 span:before {
  counter-increment: count;
  content: "" counter(count);
}

.faq-one-accrodion .accrodion + .accrodion {
  margin-top: 10px;
}

.faq-one-accrodion .accrodion.active .accrodion-title {
  background-color: #f9f9f9;
}

.faq-one-accrodion .accrodion.active .accrodion-title h4 {
  color: #032c4d;
}

.faq-one-accrodion .accrodion-title h4::before {
  content: "\f067";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 17px;
  color: #b29f6e;
  position: absolute;
  top: 50%;
  right: 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  transition: all 500ms ease;
}

.faq-one-accrodion .accrodion.active .accrodion-title h4::before {
  content: "\f068";
  color: #4d58a8;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-one-accrodion .accrodion-content {
  position: relative;
  padding: 0px 60px 28px;
  border-bottom: 0px solid #e5e5e5;
  background-color: #f9f9f9;
}

.faq-one-accrodion .accrodion.last-chiled.active .accrodion-content {
  border-bottom: 0px solid transparent;
}

.faq-one-accrodion .accrodion-content p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #303030;
  font-weight: 300;
}

.career {
  background: #032d4f;
  text-align: center;
}
.career p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  font-weight: 300;
}
.career-btn {
  background: #ecf6ff;
  color: #303030;
  border: none;
  padding: 16px 20px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

/* Hover effect */
.career-btn:hover {
  background: #fff;
  color: #032d4f;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.copyright {
  background: #ededed;
  padding: 20px 10px;
  text-align: center;
  color: #2e2e2e;
}

.copyright p {
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  color: #032c4d;
  margin-bottom: 0;
}

@media only screen and (min-width: 320px) and (max-width: 769px) {
  .banner {
    background: #32517d;
    padding: 0;
  }
  .banner_content {
    display: none;
  }
  .banner-mob {
    display: block;
  }

  .padding {
    padding: 40px 0;
  }
  .section-title__title {
    font-size: 18px;
    line-height: 24px;
  }

  .key-box p,
  .speak p,
  .speak_number p,
  .offer p,
  .crc p,
  .crc_box p,
  .career-built p,
  .description,
  middle-title,
  .amitians p,
  .incubator p,
  .footer-text,
  .faq-one-accrodion .accrodion-content p,
  .career p {
    font-size: 15px;
    line-height: 20px;
  }

  .key-box h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .speak h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 3% 0;
  }
  .speak_number {
    padding: 10px 10px;
  }
  .speak-header h1,
  .crc_box h1 {
    font-size: 20px;
    line-height: 26px;
  }

  .left h2 {
    font-size: 24px;
  }
  .package {
    font-size: 40px;
  }
  .package-text span {
    font-size: 24px;
  }

  .placements-block {
    margin-top: 0%;
  }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-placements .owl-nav .owl-next {
    display: none;
  }

  h2.resp-accordion {
    font-size: 17px !important;
    text-align: left;
  }
  .resp-tab-active::after {
    display: none;
  }

  .step-one-accrodion .accrodion {
    display: block;
  }
  .step-one-accrodion .accrodion-title h4 {
    font-size: 20px;
    line-height: 26px;
  }
  .step-one-accrodion .accrodion-content p {
    font-size: 15px;
    line-height: 20px;
  }
  .step-one-accrodion .accrodion-content {
    padding: 0px 0px 30px;
    width: 100%;
  }
  .step-one-accrodion .accrodion-title {
    width: 100%;
    padding: 0px 0px 0px;
  }
  .step-one-accrodion .accrodion + .accrodion {
    display: inherit;
    margin: 0;
  }
  .step_num {
    display: none;
  }
  .step_num span {
    font-size: 13px;
    line-height: 20px;
    color: #000;
    font-weight: 600;
  }
  .crc_box h1 span {
    display: inline;
  }
  .internship-section {
    margin: 10px auto;
    padding: 20px;
  }
  .top-content {
    padding: 0 10px;
  }
  .title,
  .left-content h2 {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .title span {
    display: inline;
  }
  .middle-title {
    text-align: left;
    margin: 10px 10px;
    color: #666;
  }
  .left-content {
    width: 100%;
    padding-left: 10px;
  }
  .left-content h2 span {
    display: inline;
  }
  .global-section {
    padding: 20px;
  }

  .right-table {
    width: 100%;
    padding: 15px 10px;
  }
  .table th {
    padding: 12px;
    font-size: 14px;
    line-height: 20px;
  }
  .table td {
    font-size: 12px;
    line-height: 16px;
    padding: 10px 3px;
  }
  .offer h3 {
    font-size: 22px;
  }

  .incubator {
    background: #ebf2ea;
    padding-top: 0px;
  }
  .incubator-mobile {
    display: block;
    margin-bottom: 20px;
  }
  .incubator h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  .incubator h1 span {
    display: inline;
  }
  .incubator p {
    text-align: center;
  }
  .incubator_box_bg {
    position: static;
  }
  .incubator_box {
    padding: 0 20px;
  }
  .incubator_number_box {
    padding: 20px;
    margin-top: 20px;
  }
  .stats {
    padding: 10px;
  }
  .stat h3 {
    font-size: 18px;
    line-height: 26px;
  }
  .stat p {
    font-size: 14px;
    line-height: 20px;
  }
  .offers {
    margin-top: 5px;
  }
  .offers h3 {
    font-size: 20px;
    line-height: 26px;
    color: #303030;
    font-weight: 500;
  }
  .offer-box span {
    font-size: 18px;
    margin: 0 0;
  }

  .faq-one-accrodion .accrodion-content {
    padding: 0px 20px 28px;
  }
  .faq-one-accrodion .accrodion-title {
    padding-left: 20px;
  }
  .faq-one-accrodion .accrodion-title h4::before {
    font-size: 15px;
    top: 20%;
    right: -25px;
  }
  .career-btn {
    font-size: 20px;
  }
  .mt-4 {
    margin-top: 0.2rem !important;
  }
}

@media (max-width: 767px) {
  .section-title__title {
    font-size: 24px;
    line-height: 30px;
  }
  .section-title__title span {
    display: inline;
  }
  .section-title__tagline {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .main-header {
    padding-left: 0;
    padding-right: 0;
  }
}
