<div class="breadcumb-wrapper">
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">Academic Conferences</h1>
            <ul class="breadcumb-menu">
                <li><a routerLink="/home">Home</a></li>
                <li>Conferences</li>
            </ul>
        </div>
    </div>
</div>

<section class="overflow-hidden space">
    <div class="container">
        <div class="title-area text-center wow fadeInUp">
            <h2 class="sec-title" style="font-weight: 100;">Conferences</h2>
            <p>To create a forum for discussion, knowledge, and idea sharing, Amity University Noida has brought
                together intellectuals and luminaries from diverse fields ranging from science, technology, and commerce
                to the judiciary and management. These academic conferences enable experts to share their insights with
                Amity faculty and students, strengthening the culture of university conferences and research
                conferences.</p>
            <p>Amity University Noida has facilitated interaction with over 1,500 corporate leaders and more than 50
                Global Gurus through international conferences and management conferences. These engagements take place
                across platforms such as academic and research seminars, webinars, guest lectures, workshops, training
                sessions, and professional development programs, enriching learning through meaningful exchange.</p>
        </div>
    </div>
</section>

<section class="bank-logo International-Organisations" style="background: #f2fdff; padding: 50px 0px;">
    <div class="container text-center">
        <div class="row" style="justify-content: center;">
            <div class="wow fadeInUp">
                <h3 style="font-weight: 100;">International Organisations</h3>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences1.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event photo 1" />
                    <p>International Conference on Entrepreneurship, Innovation and Leadership</p>
                    <span>ICEIL</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences2.jpg" class="img-fluid w-100"
                        alt="Amity University Noida international conference event 2" />
                    <p>National Conference Innovation in Visual Arts</p>
                    <span>NCIVA</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences3.jpg" class="img-fluid w-100"
                        alt="Amity University Noida conference seminar event 3" />
                    <p>Future LearningAspects of Mechanical Engineering</p>
                    <span>FLAME</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences4.jpg" class="img-fluid w-100"
                        alt="Amity University Noida student conference participation 4" />
                    <p>Trends and Recent Advances in Civil Engineering</p>
                    <span>TRACE</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences5.jpg" class="img-fluid w-100"
                        alt="Amity University Noida faculty conference presentation 5" />
                    <p>International Conference on Reliability, Infocom Technologies and Optimization</p>
                    <span>ICRITO</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences6.jpg" class="img-fluid w-100"
                        alt="Amity University Noida research conference event 6" />
                    <p>International Business Conference, INBUSH ERA World Summit</p>
                    <span>INBUSH ERA World Summit</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences7.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic event " />
                    <p>Global Leadership Research Conference</p>
                    <span>GLRC</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences8.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 8" />
                    <p>Signal Processing and Integrated Networks</p>
                    <span>SPIN</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences9.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 9" />
                    <p>International Conference on Recent Trends in Materials and Devices</p>
                    <span>ICRTMD</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences10.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 10" />
                    <p>Recent Developments in Control Automation and Power Engineering</p>
                    <span>RDCAPE</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences11.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 11" />
                    <p>International Conference on E- Governance and Education</p>
                    <span>ICEGE</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences12.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 12" />
                    <p>Global Business Strategies for Sustainability</p>
                    <span>GLOBUSS</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences13.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 13" />
                    <p>International Conference on Automation &amp; Computation Engineering</p>
                    <span>ICACE</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences14.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 14" />
                    <p>National Conference on Fashion Apparel &amp; Textile</p>
                    <span>NCFAT</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences15.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 15" />
                    <p>International Conference on ‘New Insights &amp; Multidisciplinary Approaches In Toxicological
                        Studies</p>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences16.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 16" />
                    <p>International Conference of Psychology &amp; Allied Sciences</p>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences17.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 17" />
                    <p>International Conference on Computational Intelligence and Knowledge Economy</p>
                    <span>ICCIKE</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences18.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 18" />
                    <p>Confluence</p>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences19.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 19" />
                    <p>World History Conference</p>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences20.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 20" />
                    <p>Infinity</p>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences21.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 21" />
                    <p>Symposium</p>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences22.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 22" />
                    <p>International Conference on Emerging Media Paradigms</p>
                    <span>ICEMP</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences23.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 23" />
                    <p>Amity International Tourism &amp; Hospitality Conference</p>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences24.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 24" />
                    <p>International Industry-Academia meet on 'Efficient Solar Power Generation and Energy Harvesting
                    </p>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences25.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 25" />
                    <p>International Conference on “VLSI, MEMS and NEMS”</p>
                    <span>VMN</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences26.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 26" />
                    <p>The world’s first solar power workshop, Amity Dubai</p>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences27.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 27" />
                    <p>National Conference on “Social Work &amp; Child Rights - Contemporary Issues and Way Forward”</p>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences28.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 28" />
                    <p>National Conference on Futuristic Trends in Physical Education and Sports</p>
                    <span>ASPESS</span>
                </div>
            </div>
            <div class="col-md-4 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <img src="assets/img/conferences29.jpg" class="img-fluid w-100"
                        alt="Amity University Noida academic conference event 29" />
                    <p>National Conference On Sports &amp; Physical Education</p>
                </div>
            </div>
        </div>
    </div>
</section>