.accordion-card .accordion-button {
  background-color: #0b2d4c !important;
  color: #fff;
}

.accordion-card .accordion-button:after {
  color: #ffffff;
}

.nep-section h3 {
  font-size: 20px;
}

.nep-section h2 {
  font-size: 24px;
}
