<div class="breadcumb-wrapper">
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">{{getUgProgramData[0].sDiscipline}}</h1>
            <ul class="breadcumb-menu">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/ug">UG Programs</a></li>
                <li>{{getUgProgramData[0].sDiscipline}}</li>
            </ul>
        </div>
    </div>
</div>
<section class="background-sec">
    <div style="padding: 50px 0px 50px 0px">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-4">
                    <!-- <h2 class="sec-title" style="font-weight: 100;margin-bottom: 20px;">
                        {{getUgProgramData[0].sDiscipline}}</h2> -->
                    <div [innerHTML]="getUgProgramData[0].DisciplineOverview | cleanHtml"></div>
                </div>
                <div class="col-md-12">
                    <ul class="course-li">
                        @for (item of getUgProgramData; track item.id) {
                        <li class="wow fadeInUp">
                            <p class="bdr-bottom">{{item.sfullname}}
                                <!-- <a [routerLink]="['/ug', formatFacultyName(item.sDiscipline), item.SlugName,item.sCourseCode]"
                                    class="view-detailsBtn">View Details</a> -->

                                <a [routerLink]="['/ug', item.Disciplineslugname,  item.SlugName]" class="view-detailsBtn" (click)="onUGApplyClick('ug_view_details_clicked')">
                                    View Details
                                </a>
                                @if (item.bAdmissionOpen == 1) {
                                <a [href]="'https://noida.amity.edu/admissions-2026/?utm_term=keywordcoursecode_'+ item.sCourseCode" target="_blank"
                                    class="apply-nowBtn" (click)="onUGApplyClick('ug_apply_now_clicked')">Apply Now</a>
                                }
                                @else {
                                <!-- <span class="apply-nowBtn">Admission Closed</span> -->
                                }

                            </p>
                        </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>