<div class="breadcumb-wrapper">
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">Research Centres & Facilities</h1>
            <ul class="breadcumb-menu">
                <li><a routerLink="/home">Home</a></li>
                <li>Research Centres</li>
            </ul>
        </div>
    </div>
</div>

<section class="overflow-hidden space">
    <div class="container">
        <div class="title-area text-center wow fadeInUp">
            <h2 class="sec-title" style="font-weight: 100;">Research Centres</h2>
            <p>Amity University Noida has established 50 hi-end Research Centres and Research Labs across diverse
                domains of Applied Science, Technology, Management, and Liberal Arts. These Research Centres serve as
                advanced Research Facilities dedicated to academic research and university research, and are striving to
                commercially scale up innovations to find solutions to some of the most pressing issues affecting the
                world. </p>
        </div>
    </div>
</section>

<section class="bank-logo International-Organisations" style="background: #f2fdff; padding: 50px 0px;">
    <div class="container text-center">
        <div class="row" style="justify-content: center;">
            <div class="col-md-6 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <h3 style="font-weight: 500; font-size: 20px;">SIR RICHARD JOHN ROBERTS CENTRE FOR GENETICALLY
                        MODIFIED ORGANISM (GMO)</h3>
                    <img src="assets/img/richard-john-roberts.jpg" class="img-fluid"
                        alt="Amity University Noida Nobel laureate Richard John Roberts " />
                    <p>Launched by Nobel Laureate Sir Richard John Roberts</p>
                </div>
            </div>
            <div class="col-md-6 mb-4 wow fadeInUp">
                <div class="admission-card">
                    <h3 style="font-weight: 500; font-size: 20px;">Dr. TAKAAKI KAJITA CENTER FOR PARTICLE RESEARCH
                        PHYSICS</h3>
                    <img src="assets/img/takaaki-kajita2.jpg" class="img-fluid"
                        alt="Amity University Noida Nobel laureate Takaaki Kajita" />
                    <p>Launched by Nobel Laureate Dr. Takaaki Kajita</p>
                </div>
            </div>
            <!-- <div class="col-md-12 wow fadeInUp">
                <h3 style="font-weight: 100;">Other Research Centres Established</h3>
            </div>
            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres1.jpg" class="img-fluid">
                    <p>
                        Amity Institute of Click Chemistry Research &amp; Studies (AICCRS)
                    </p>
                </div>
            </div>

            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres2.jpg" class="img-fluid">
                    <p>Amity Centre for Soil Sciences (ACSS)</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres3.jpg" class="img-fluid">
                    <p>Amity Centre for Spintronic Materials (ACSM)</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres4.jpg" class="img-fluid">
                    <p>Amity Centre for Inter-Disciplinary Research (ACIDR)</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres5.jpg" class="img-fluid">
                    <p>Amity Centre for Antarctic Research &amp; Studies (ACARS)</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres6.jpg" class="img-fluid">
                    <p>Amity CIMA Centre of Excellence</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres7.jpg" class="img-fluid">
                    <p>Centre for VUCA Studies (CVS)</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres8.jpg" class="img-fluid">
                    <p>Amity Centre for Yoga Education, Therapy and Research</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres9.jpg" class="img-fluid">
                    <p>Amity Society for Nuclear Security</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres10.jpg" class="img-fluid">
                    <p>Amity Centre for Cancer Epidemiology &amp; Cancer Research</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres11.jpg" class="img-fluid">
                    <p>Amity Institute of Indian System of Medicine</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres12.jpg" class="img-fluid">
                    <p>Amity Center for Bio Control &amp; Plant Disease Management</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres13.jpg" class="img-fluid">
                    <p>Amity Institute of Herbal Research &amp; Studies</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres14.jpg" class="img-fluid">
                    <p>Amity Center for Carbohydrate Research</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres15.jpg" class="img-fluid">
                    <p>Amity Center for Astronomy and Astrophysics</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres16.jpg" class="img-fluid">
                    <p>Amity Institute of Water Technology and Management</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres17.jpg" class="img-fluid">
                    <p>Amity Food &amp; Agriculture Foundation</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres18.jpg" class="img-fluid">
                    <p>Amity International Centre for Post Harvest Technology &amp; Cold Chain Mgmt. (AICPHT&amp; CCM)
                    </p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres19.jpg" class="img-fluid">
                    <p>Amity Center for Extension Services (ACES) (Agriculture)</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres20.jpg" class="img-fluid">
                    <p>Sir Richard Robert Center for Genetically Modified Organism</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres21.jpg" class="img-fluid">
                    <p>Amity Center for Environmental Health and Sciences</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres22.jpg" class="img-fluid">
                    <p>Amity Mega Center for Natural and Man-Made Calamities</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres23.jpg" class="img-fluid">
                    <p>Centre for Media Studies</p>
                </div>
            </div>


            <div class="col-md-3 mb-4 wow fadeInUp">
                <div class="admission-card research_centres_list">
                    <img src="assets/img/research-centres24.jpg" class="img-fluid">
                    <p>Center for Photonics and Optoelectronics</p>
                </div>
            </div> -->




        </div>
    </div>
</section>