<div class="breadcumb-wrapper">
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">Leadership & Governance</h1>
            <ul class="breadcumb-menu">
                <li><a routerLink="/home">Home</a></li>
                <li>Leadership</li>
            </ul>
        </div>
    </div>
</div>
<section class="overflow-hidden space">
    <div class="container">
        <div class="title-area wow fadeInUp">
            <h2 class="sec-title" style="font-weight: 100;">Leadership</h2>
            <p>Dr. Ashok K. Chauhan, the Founder President of Amity Education Group, is a visionary leader,
                entrepreneur, philanthropist, and pioneer in educational reform. His three decades of successful
                entrepreneurship in Europe inspired him to lay the foundation with a clear vision: to empower talented
                youth with holistic, value-driven, and high-quality education, helping them evolve into well-rounded and
                successful individuals. Today, Amity is a leading global education group owing to his unwavering
                dedication that shapes India's educational landscape, inspiring generations to dream and achieve. His
                role continues to set benchmarks in higher education leadership and university leadership across the
                country.</p>
        </div>
    </div>
    <div class="team-area overflow-hidden space">
        <div class="container">
            <div class="row leadership-box">
                <div class="col-lg-8 wow fadeInUp">
                    <div class="instructor-profile-right">
                        <div class="inner">
                            <div class="section-title text-start">
                                <h4 class="title">Dr. Ashok K. Chauhan</h4>
                                <span class="pre-title">(The Foundation of Amity Institutions and the sponsoring body of
                                    Amity Universities) Chairman, AKC Group of Companies</span>
                                <p><b>My mission is nation-building through education and beyond.</b></p>
                                <p>Each student of Amity will become a success story.</p>

                                <p>Amity is not just a group of institutions that imparts world-class education, but an
                                    experience where everyone associated is part of a dream, a mission to see that we
                                    nurture truly great leaders. This reflects his outstanding contribution to academic
                                    leadership in India.</p>
                                <p>In my over 30 years' stay in West Germany, I realised, through interacting with the
                                    over 6000 Europeans working for me, that we Indians have the intelligence, the
                                    talent and the potential to be the most successful people in the world. That is why
                                    we established the Ritnand Balved Education Foundation in 1986 to start institutions
                                    that will groom young future leaders to be complete, value-driven human beings and
                                    competent professionals with a deep passion for humanity. These will be the people
                                    who will lead the world.</p>
                                <p>Today, we are proud that Amity is synonymous with practical, industry-focused
                                    education and attracts the best students. The fact that our alumni are working in
                                    the best companies across the world is a testament to our extremely talented faculty
                                    who inculcate, by example, in each student the spirit of dedication, sincerity and
                                    loyalty, and to all the corporates who support our mission with so much enthusiasm.
                                    This commitment continues to strengthen Amity&rsquo;s reputation in higher education
                                    administration.</p>
                                <p>Each one of our students will be a success story. This is my dream; this is my
                                    commitment.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp">
                    <img src="assets/img/ashok-chauhan-leadership.jpg" alt="About Images">
                    <div class="content">
                        <h5 class="title">Dr. Ashok K. Chauhan</h5>
                        <span class="subtitle">(The Foundation of Amity Institutions and the sponsoring body of
                            Amity Universities) Chairman, AKC Group of Companies</span>

                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row leadership-box">
                <div class="col-lg-8 wow fadeInUp">
                    <div class="instructor-profile-right">
                        <div class="inner">
                            <div class="section-title text-start">
                                <h4 class="title">Dr. Atul Chauhan</h4>
                                <p>Dr. Atul Chauhan is the President of the not-for-profit Ritnand Balved Education
                                    Foundation and the Chancellor of Amity University. Dr. Chauhan is also the CEO of
                                    the AKC Group of Companies.</p>
                                <p>Dr. Chauhan is a member of many Government and Statutory Bodies, including being a
                                    distinguished Fellow of the Institute of Directors and a member of the Expert
                                    Committee of the University Grants Commission (UGC), a statutory body of the
                                    Government of India. His contributions highlight his prominent role in university
                                    administration and academic administration.</p>
                                <p>Dr. Chauhan sits on many boards, including Assocham Europe, Netherlands-India
                                    Financial Corridor and Malaysia-India Committee on Education.</p>
                                <p>Born and brought up in Germany, Dr. Chauhan had his higher education in engineering
                                    and finance from University College London and the London School of Economics, after
                                    which he took on the responsibility of heading the London Office.</p>
                                <p>Dr. Chauhan has received several awards from esteemed organisations like the Economic
                                    Times and News 24.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp">
                    <img src="assets/img/atul-chauhan-leadership.jpg" alt="About Images">
                    <div class="content">
                        <h5 class="title">Dr. Atul Chauhan</h5>
                        <span class="subtitle">Chancellor, Amity University
                            <br />
                            President, Ritnand Balved Education Foundation<br />
                            CEO, AKC Group of Companies</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row leadership-box">
                        <div class="col-lg-2 wow fadeInUp">
                            <img src="assets/img/b-shukla.jpg" alt="About Images" class="img-fluid img-thumbnail"
                                style="border-radius: 50%;width: 180px;height: 180px;object-fit: cover;">

                        </div>
                        <div class="col-lg-10 wow fadeInUp">
                            <div class="instructor-profile-right">
                                <div class="inner">
                                    <div class="section-title text-start">
                                        <h5 class="title">Dr. B. Shukla</h5>
                                        <span class="subtitle">Vice Chancellor, Amity University Uttar Pradesh<br>
                                            M.Tech. (IIT Kharagpur), Ph.D. Queen's University, U.K.<br>
                                            Council member of AIMA
                                        </span>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 wow fadeInUp">
                            <p>Prof. (Dr.) Balvinder Shukla is the Vice Chancellor, Amity University Noida. She has over
                                22 years of experience in organizations such as Shimnit Group, Interra Software, IIHT
                                Systems and Amity Group of Institutions. As a Director at Interra Software, she
                                established RMG and the training department and played a pivotal role in ISO
                                certification for the company. As the Head of Corporate Planning and Head (North) at
                                Shimnit Group, she was instrumental in increasing the business turnover by 300% in the
                                first year and establishing a strong process-driven organization and a strong sales
                                force.</p>
                            <p>In 1990, she moved back to India and opted for a corporate career with IIHT Systems Ltd.,
                                as the Regional Head. She established a strong network of 72 franchises and dealers. Due
                                to her excellent performance, she assumed the role of Executive Director within three
                                years and was responsible for business development and strategic business alliances.</p>
                            <p>Dr. Shukla&rsquo;s core competencies include establishing new businesses, HR planning,
                                recruitment and development aligned with business needs, and process establishment. To
                                her credit, she has presented many papers in seminars and at conferences conducted at
                                national and international levels. She has organized over 150 seminars, conferences and
                                management development programs. Dr. Shukla is also the Chairperson of more than 20
                                committees within Amity and outside. Her contributions reflect deep expertise in higher
                                education administration.</p>
                            <p>She is on the advisory board of many companies, is a member of several professional
                                bodies and is closely associated with many CSR projects. Dr. Shukla is a strategist,
                                institution builder, mentor and an inspirational leader and relationship builder, along
                                with being an avid researcher, teacher, trainer and entrepreneurial leader. Her
                                specialities include strategic management, resource-based strategy, business
                                restructuring, CRM, automation of processes and systems, creating and scaling up new
                                businesses, change management, growth strategies, organization turnaround and
                                entrepreneurial leadership.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row leadership-box">
                        <div class="col-md-2 wow fadeInUp">
                            <img src="assets/img/gurinder-singh.jpg" class="img-fluid img-thumbnail" alt="About Images"
                                style="border-radius: 50%;width: 180px;height: 180px;object-fit: cover;">
                        </div>
                        <div class="col-md-10 wow fadeInUp">
                            <div class="instructor-profile-right">
                                <div class="inner">
                                    <div class="section-title text-start">
                                        <h5 class="title">Prof. (Dr.) Gurinder Singh</h5>
                                        <span class="subtitle">Group Vice Chancellor, Amity Universities<br>
                                            Director General, Amity Directorate of Management and Allied Areas<br>
                                            Director General, Amity International Business School<br>
                                            Vice Chairman, Global Foundation for Learning and Excellence

                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 wow fadeInUp">
                            <p>Prof. (Dr.) Gurinder Singh is the Group Vice Chancellor at Amity Universities, Director
                                General of Amity Group of Institutions, and Vice Chairman of the Global Foundation for
                                Learning and Excellence, with over 28 years' expertise in institutional building,
                                teaching, consultancy, research and industry. His contributions have significantly
                                advanced academic leadership across global campuses.</p>
                            <p>As the youngest Founder Pro Vice Chancellor of Amity University for two terms, Founder
                                Director General of Amity International Business School and Founder CEO of the
                                Association of International Business School, London, he has spearheaded numerous Amity
                                campus establishments globally.</p>
                            <p>A distinguished scholar in International Business with a Doctorate and Postgraduate
                                degree from the Indian Institute of Foreign Trade, Dr. Singh is a notable speaker at
                                prestigious international forums and has received over 25 national and international
                                awards. His consistent contributions reflect excellence in university leadership and
                                higher education leadership.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>