<div class="breadcumb-wrapper">
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">Global Campuses</h1>
            <ul class="breadcumb-menu">
                <li><a routerLink="/home">Home</a></li>
                <li>Global Campuses</li>
            </ul>
        </div>
    </div>
</div>

<section class="overflow-hidden space background-sec">
    <div class="container wow fadeInUp">
        <div class="title-area text-center">
            <h2 class="sec-title" style="font-weight: 100;">Global Campuses</h2>
            <p>
                The unwavering commitment towards imparting world-class education is the hallmark of Amity Education
                Group. In fact, Amity’s flagship university has been ranked among the top 3% universities globally by QS
                & THE, the world's
                leading university rankings organisations.
            </p>
        </div>
    </div>
    <div class="container wow fadeInUp">
        <div class="row gy-4" style="justify-content: center;">
            <div class="col-md-12 col-xl-12" style="box-shadow: 0px 0px 10px 2px #ddd; padding: 0px;">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#menu1">AMITY DUBAI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu2">AMITY LONDON</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu3">AGI SINGAPORE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu4">AMITY NEW YORK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu5">AMITY SAN FRANCISCO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu6">AMITY TASHKENT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu7">AMITY MAURITIUS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#menu8">AMITY KENYA</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content checklist1">
                    <div id="menu1" class="container tab-pane active">
                        <div>
                            <div class="row dubai_shot">
                                <!-- Text Content -->
                                <div class="col-md-7 text-start">
                                    <div class="global_campuses_content text-white">
                                        <h1>AMITY UNIVERSITY DUBAI</h1>
                                        <ul class="global-campuses-list">
                                            <li>Ranked among top-5 universities in Dubai by Forbes, Middle East</li>
                                            <li>UAE’s only university with the highest accreditation by WASC, USA AND
                                                QAA, UK</li>
                                            <li>Awarded as the Best University For Graduate Recruitment</li>
                                            <li>Awarded as the Best University Campus in the Middle East by Forbes
                                                Higher Education Awards 2019</li>
                                            <li>Offers globally recognized UG, PG AND Ph.D. programmes in over 20
                                                disciplines</li>
                                        </ul>
                                        <a href="https://amityuniversity.ae/" target="_blank"
                                            class="btn btn-warning mt-3">
                                            Read More
                                            <i class="fas fa-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>

                                <!-- Image Grid -->
                                <div class="col-md-5">
                                    <div class="row g-3">
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/dubai-shot1.jpg" class="img-fluid rounded shadow img-thumbnail"
                                                    alt="Dubai Campus 1">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/dubai-shot2.jpg" class="img-fluid rounded shadow img-thumbnail"
                                                    alt="Dubai Campus 2">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/dubai-shot3.jpg" class="img-fluid rounded shadow img-thumbnail"
                                                    alt="Dubai Campus 3">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/dubai-shot4.jpg" class="img-fluid rounded shadow img-thumbnail"
                                                    alt="Dubai Campus 4">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="menu2" class="container tab-pane fade">
                        <div>
                            <div class="row london_shot">

                                <!-- Image Grid -->
                                <div class="col-md-5">
                                    <div class="row g-3">
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/london-shot1.jpg"
                                                    class="img-fluid rounded shadow img-thumbnail" alt="London Campus 1">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/london-shot2.jpg"
                                                    class="img-fluid rounded shadow img-thumbnail" alt="London Campus 2">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/london-shot3.jpg"
                                                    class="img-fluid rounded shadow img-thumbnail" alt="London Campus 3">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/london-shot4.jpg"
                                                    class="img-fluid rounded shadow img-thumbnail" alt="London Campus 4">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Text Content -->
                                <div class="col-md-7 text-start">
                                    <div class="global_campuses_content_all">
                                        <h1>AMITY UNIVERSITY (IN) LONDON</h1>
                                        <ul class="global-campuses-list-all">
                                            <li>Located in the heart of London in Bedford Square next to British Museum
                                            </li>
                                            <li>Offers UG, PG and Doctoral degrees in Business Management, awarded by
                                                the University of Bolton, UK</li>
                                            <li>Has been granted the Highly Trusted Status by UK Visas And Immigration
                                                (UKVI)</li>
                                            <li>Reviewed with a positive report by the prestigious Quality Assurance
                                                Agency (QAA), the national body that aims to assure standards in higher
                                                education in the UK</li>
                                        </ul>
                                        <a href="https://www.amity.ac.uk/" target="_blank" class="btn btn-warning mt-3">
                                            Read More <i class="fas fa-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="menu3" class="container tab-pane fade">
                        <div>
                            <div class="row singapore_shot">

                                <!-- Text Content -->
                                <div class="col-md-7 text-start text-white">
                                    <div class="global_campuses_content">
                                        <h1>AMITY GLOBAL INSTITUTE, SINGAPORE</h1>
                                        <ul class="global-campuses-list">
                                            <li>Offers Over 50 Globally Recognised UG And PG Degrees in Management, Law,
                                                IT, Hospitality, Accounting…</li>
                                            <li>
                                                Degrees Offered in Partnership with the:
                                                <ul class="global-campuses-sub-list">
                                                    <li>University of London – ranked 19th in the UK by QS Worldwide
                                                        ranking</li>
                                                    <li>University for the Creative Arts</li>
                                                    <li>University of Northampton – ranked among the top 50 Universities
                                                        in the UK</li>
                                                    <li>Teesside University</li>
                                                </ul>
                                            </li>
                                            <li>
                                                Awarded Accreditation with Committee for Private Education (CPE),
                                                Singapore – The Highest Statutory Board under the Ministry of Education
                                                (MOE) of Singapore
                                            </li>
                                            <li>
                                                Campus centrally located within the Orchard Road precinct at The House
                                                of Tan Yeok Nee, Penang Road
                                            </li>
                                        </ul>
                                        <a href="http://www.amitysingapore.sg/" target="_blank">
                                            <img src="./assets/img/know-more.png" class="img-fluid mt-3"
                                                alt="Know More">
                                        </a>
                                    </div>
                                </div>

                                <!-- Image Grid -->
                                <div class="col-md-5">
                                    <div class="row g-3">
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/singapore-shot1.jpg"
                                                    class="img-fluid rounded shadow img-thumbnail" alt="Singapore Shot 1">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/singapore-shot2.jpg"
                                                    class="img-fluid rounded shadow img-thumbnail" alt="Singapore Shot 2">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/singapore-shot3.jpg"
                                                    class="img-fluid rounded shadow img-thumbnail" alt="Singapore Shot 3">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/singapore-shot4.jpg"
                                                    class="img-fluid rounded shadow img-thumbnail" alt="Singapore Shot 4">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="menu4" class="container tab-pane fade">
                        <div>
                            <div class="row newyork_shot">

                                <!-- Image Section -->
                                <div class="col-md-5">
                                    <div class="row g-3">
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/newyork-shot1.jpg"
                                                    class="img-fluid rounded shadow img-thumbnail" alt="New York Shot 1">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/newyork-shot2.jpg"
                                                    class="img-fluid rounded shadow img-thumbnail" alt="New York Shot 2">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/newyork-shot3.jpg"
                                                    class="img-fluid rounded shadow img-thumbnail" alt="New York Shot 3">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/newyork-shot4.jpg"
                                                    class="img-fluid rounded shadow img-thumbnail" alt="New York Shot 4">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Text Section -->
                                <div class="col-md-7 text-start text-dark">
                                    <div class="global_campuses_content_all">
                                        <h1>AMITY NEW YORK</h1>
                                        <ul class="global-campuses-list-all">
                                            <li>175 Acre Campus on Long Island, New York</li>
                                            <li>11 Stately Buildings with a grand view of the Great South Bay</li>
                                            <li>
                                                A global hub for research collaborations, faculty and student exchange
                                                programs,
                                                as well as innovation and entrepreneurship promotion
                                            </li>
                                            <li>
                                                Extremely well connected — within close driving distance of JFK Airport,
                                                and has direct access to Manhattan
                                            </li>
                                        </ul>
                                        <a href="#" target="_blank" class="btn btn-warning mt-2">
                                            Read More
                                            <i class="fas fa-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="menu5" class="container tab-pane fade">
                        <div>
                            <div class="row sanfrancisco_shot">

                                <!-- Text Content Section -->
                                <div class="col-md-8 text-start text-dark">
                                    <div class="global_campuses_content_all">
                                        <h1>AMITY SAN FRANCISCO</h1>
                                        <ul class="global-campuses-list-all">
                                            <li>A global education and research hub for sustainability innovation and
                                                regenerative impact</li>
                                            <li>Offers MBA, MPA and Dual MBA/MPA degree programs in Sustainable
                                                Solutions</li>
                                            <li>Campus overlooking the Golden Gate Bridge</li>
                                            <li>Accredited by the Western Association of Schools and Colleges (WASC),
                                                USA</li>
                                        </ul>
                                        <a href="#" target="_blank" class="btn btn-warning mt-2">
                                            Read More
                                            <i class="fas fa-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="menu6" class="container tab-pane fade">
                        <div>
                            <div class="row tashkent_shot">

                                <!-- Image Gallery -->
                                <div class="col-md-5">
                                    <div class="row g-3">
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/tashkent-shot1.jpg" class="img-fluid"
                                                    alt="Tashkent Shot 1">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/tashkent-shot2.jpg" class="img-fluid"
                                                    alt="Tashkent Shot 2">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/tashkent-shot3.jpg" class="img-fluid"
                                                    alt="Tashkent Shot 3">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/tashkent-shot4.jpg" class="img-fluid"
                                                    alt="Tashkent Shot 4">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Text Content -->
                                <div class="col-md-7 text-start">
                                    <div class="global_campuses_content_all text-dark">
                                        <h1>AMITY UNIVERSITY TASHKENT</h1>
                                        <ul class="global-campuses-list-all">
                                            <li>Nestled amidst the green environs of Uzbekistan's Capital City, Tashkent
                                            </li>
                                            <li>Offers over 20 Globally Recognised UG and PG Degrees in diverse
                                                Disciplines, including Management, IT, Tourism</li>
                                            <li>Fully integrated education campus with hostels, classrooms & labs,
                                                well-stocked library, auditorium, indoor and outdoor sports facilities
                                            </li>
                                            <li>A hub for research collaborations, faculty and student exchange programs
                                                as well as innovation and entrepreneurship promotion</li>
                                        </ul>
                                        <a href="http://www.amity.uz/" target="_blank" class="btn btn-warning mt-2">
                                            Read More
                                            <i class="fas fa-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="menu7" class="container tab-pane fade">
                        <div>
                            <div class="row mauritius_shot">

                                <!-- Content Section -->
                                <div class="col-md-9 text-start">
                                    <div class="global_campuses_content_all text-dark">
                                        <h1>AMITY MAURITIUS</h1>
                                        <ul class="global-campuses-list-all">
                                            <li>Offers UG and PG Programme in Management, Accounting &amp; Finance,
                                                Tourism &amp; Hospitality and Information Technology</li>
                                            <li>Registered by the Tertiary Education Commission (TEC), Mauritius as a
                                                Post-Secondary Education Institution</li>
                                            <li>Awarded as Midlands Enterprising University of the year for the third
                                                consecutive year</li>
                                            <li>Strategically located in the central part of Mauritius, Cybercity Ebene
                                            </li>
                                        </ul>
                                        <a href="https://www.amity.edu/un/" target="_blank"
                                            class="btn btn-warning mt-2">
                                            Read More
                                            <i class="fas fa-arrow-right ms-2"></i>
                                        </a>
                                    </div>
                                </div>

                                <!-- Image Gallery -->
                                <div class="col-md-3">
                                    <div class="row g-2">
                                        <div class="col-12">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/mauritius-shot1.jpg" class="img-fluid"
                                                    alt="Mauritius Shot 1" />
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/mauritius-shot2.jpg" class="img-fluid"
                                                    alt="Mauritius Shot 2" />
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="global_campuses_shot">
                                                <img src="./assets/img/mauritius-shot3.jpg" class="img-fluid"
                                                    alt="Mauritius Shot 3" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="menu8" class="container tab-pane fade">
                        <div>
                            <div class="row kenya_shot">

                                <!-- Content Section -->
                                <div class="col-md-7 text-start">
                                    <div class="global_campuses_content_all text-dark">
                                        <h1>AMITY UNIVERSITY KENYA</h1>
                                        <ul class="global-campuses-list-all">
                                            <li>
                                                A premier technical and vocational education &amp; training institution
                                                in Kenya established to provide quality educational programmes, training
                                                modules, international programmes and MDPs
                                            </li>
                                            <li>
                                                Offers UG, PG Programmes, Certificates, Diplomas, Advance Diplomas, in
                                                the fields of Business Management, IT, Finance, Business Analytics,
                                                Supply Chain &amp; Logistics, and Tourism &amp; Hospitality
                                            </li>
                                            <li>
                                                Centrally located in UAP Old Mutual Tower in Upper Hill, Nairobi
                                            </li>
                                        </ul>
                                        <a href="https://www.amity.edu/nairobi/" target="_blank">
                                            <img src="./assets/img/know-more.png" alt="Read More"
                                                class="img-fluid mt-2" />
                                        </a>
                                    </div>
                                </div>

                                <!-- You can optionally add image gallery in another column if needed -->

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>