<div class="breadcumb-wrapper">
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">Quality</h1>
            <ul class="breadcumb-menu">
                <li><a routerLink="/home">Home</a></li>
                <li>Quality</li>
            </ul>
        </div>
    </div>
</div>
<section class="overflow-hidden space">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <div class="col-md-8 admission-card mb-50 wow fadeInUp">
                <div class="img1">
                    <img class="tilt-active img-thumbnail" src="assets/img/quality.jpg" alt="About"
                        style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg);">
                </div>
                <p>Mr. Flemming Norklit, Managing Director, BSI Management Systems (Global) giving ISO certificates to
                    Mr. Atul Chauhan, Chancellor, Amity University and Maj. Gen. K. Jai Singh, Group Vice Chancellor,
                    Amity University</p>
            </div>
            <div class="col-md-8 text-center wow fadeInUp">
                <div class="title-area mb-35">
                    <h2 class="sec-title" style="font-weight: 100;">SETTING NEW BENCHMARKS</h2>
                </div>
                <p class="mt-n2 mb-25">
                    Right from the inception of Amity University, Quality Assurance & Enhancement has been a thrust
                    area. A team of experienced professionals ensures that the best systems are implemented in all
                    departments and all areas of the University.

                </p>
                <p>This division also monitors the implementation and continuous improvements of both academic and
                    non-academic processes and procedures.</p>

            </div>
        </div>
    </div>
</section>

<section class="space bg-smoke">
    <div style="padding: 0px 0px 50px 0px;">
        <div class="container">
            <div class="row gy-4" style="justify-content: center;">
                <div class="col-md-4 col-xl-4 wow fadeInUp">
                    <div class="admission-card">
                        <img src="assets/img/certificate.jpg" alt=" image" />
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 wow fadeInUp">
                    <div class="admission-card">
                        <img src="assets/img/certificate2.jpg" alt=" image" />
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 wow fadeInUp">
                    <div class="admission-card">
                        <img src="assets/img/certificate3.jpg" alt=" image" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 checklist wow fadeInUp" style="padding-top: 20px;">
                    <h3 class="mt-4" style="font-weight: 100;">Benefits of Quality Certifications</h3>
                    <ul>
                        <li>All institutions of Amity University have been brought on a common platform</li>
                        <li>Better synergy, positive responses and better communications established across institutions
                            of AUUP</li>
                        <li>Strong audit network of more than 100 Auditors</li>
                        <li>All systems analysed and processes have been implemented and audited through a three stage
                            audit system involving internal and external audit agencies</li>
                        <li>Effective monitoring and handling of student related concerns, through an automated
                            complaint management system</li>
                        <li>Improvement in attendance, leading to reduction in debarred cases</li>
                        <li>Curricula delivered as per planned time table</li>
                        <li>Time between exam and result declaration reduced</li>
                        <li>Establishment of strong quality support network in the form of internal Quality Assurance
                            Cell in each institution</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>