<div class="breadcumb-wrapper">
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">Our Vision & Mission</h1>
            <ul class="breadcumb-menu">
                <li><a routerLink="/home">Home</a></li>
                <li>VISION & MISSION</li>
            </ul>
        </div>
    </div>
</div>
<section class="overflow-hidden space">
    <div class="container">
        <div class="row gy-4" style="justify-content: center;">
            <div class="col-md-6 col-xl-6 wow fadeInUp">
                <div class="row admission-card">
                    <div class="col-md-3" style="text-align: center;">
                        <img src="assets/img/vision-icon.png" class="vision-mission-icon mt-20" alt="Alternate Text" />
                    </div>
                    <div class="col-md-9">
                        <h5 style="padding: 8px;">
                            VISION
                        </h5>
                        <p>To build the nation and the society by providing total, integrated education, trans-cultural
                            quality education and value education, and to be a global front-runner in higher education.
                            The vision is to nurture talent in an environment where modernity blends with tradition and
                            supports the principles of modern education.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 wow fadeInUp">
                <div class="row admission-card">
                    <div class="col-md-3" style="text-align: center;">
                        <img src="assets/img/mission-icon.png" class="vision-mission-icon mt-20" alt="Alternate Text" />
                    </div>
                    <div class="col-md-9">
                        <h5 style="padding: 8px;">
                            MISSION
                        </h5>
                        <p>To provide education at all levels, in all disciplines of modern times, and in the futuristic
                            and emerging frontier areas of knowledge, learning and research.</p>
                        <p>To enhance the overall personality of students by making them not only excellent
                            professionals but also good human beings with an understanding and regard for human values,
                            pride in their heritage and culture.</p>
                        <p>To inculcate in students a sense of right and wrong, a yearning for perfection and the
                            attributes of courage, conviction and action.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="space bg-smoke core-values">
    <div style="padding: 0px 0px 50px 0px;">
        <div class="container">
            <h2 style="font-weight: 400; text-align: center;">CORE VALUES</h2>
            <div class="row gy-4" style="justify-content: center;">
                <div class="col-md-6 col-xl-6 wow fadeInUp">
                    <div class="admission-card">
                        <h5>Academic Excellence</h5>
                        <p>The university strives for uncompromising quality and the highest standards of excellence in teaching, learning, research and scholarship across various disciplines, ensuring a strong foundation in quality education and modern education.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 wow fadeInUp">
                    <div class="admission-card">
                        <h5>Integrity & Ethics</h5>
                        <p>The university upholds the highest ethical values, integrity and professionalism with an unwavering commitment to academic freedom, transparency and accountability.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 wow fadeInUp">
                    <div class="admission-card">
                        <h5>Diversity & Mutual Respect</h5>
                        <p>The university nurtures an environment of safety, trust and mutual respect, embedding equality and diversity in its strategy by ensuring that strategic plans are fair and inclusive.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 wow fadeInUp">
                    <div class="admission-card">
                        <h5>Expand Horizons of Knowledge</h5>
                        <p>The university is driven by research and innovation and ensures continuous engagement in scholarly activities in the pursuit of innovation, creativity and excellence. This aligns with its mission of advancing higher education.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 wow fadeInUp">
                    <div class="admission-card">
                        <h5>Shared Governance</h5>
                        <p>The university encourages shared decision-making through collaborative consultation, open flow of information, diverse involvement and collective deliberation of all stakeholders.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 wow fadeInUp">
                    <div class="admission-card">
                        <h5>Social Responsibility</h5>
                        <p>The university creates and nurtures an inclusive environment where everyone can develop their full potential and contribute to the interests of society as a whole.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 wow fadeInUp">
                    <div class="admission-card">
                        <h5>Environmental Responsibility</h5>
                        <p>The university is acutely aware of its environmental responsibilities and embraces the principles of sustainable development to ensure that any adverse environmental impact of its activities is minimized.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 wow fadeInUp">
                    <div class="admission-card">
                        <h5>Service</h5>
                        <p>The university seeks to serve the diverse personal and professional development needs of its constituents and encourages habits of engagement, caring and civic responsibility by emphasizing the connection between service, excellence and career growth.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="space g-attribute">
    <div style="padding: 0px 0px 50px 0px;">
        <div class="container">
            <h2 style="font-weight: 400; text-align: center;">Graduate Attributes</h2>
            <div class="row" style="justify-content: center;">
                <div class="col-md-12 wow fadeInUp box-des">
                    <ul>
                        <li>
                            <div class="paraDiv">
                                <p><b>Discipline Knowledge & Expertise</b></p>
                            </div>
                        </li>
                        <li>
                            <div class="paraDiv">
                                <p><b>Self-Directed and Active Learning</b></p>
                            </div>
                        </li>
                        <li>
                            <div class="paraDiv">
                                <p><b>Research and Enquiry</b></p>
                            </div>
                        </li>
                        <li>
                            <div class="paraDiv">
                                <p><b>Information & Communication Technology Skills</b></p>
                            </div>
                        </li>
                        <li>
                            <div class="paraDiv">
                                <p><b>Critical Thinking & Problem-Solving Abilities</b></p>
                            </div>
                        </li>
                        <li>
                            <div class="paraDiv">
                                <p><b>Communication Skills</b></p>
                            </div>
                        </li>
                        <li>
                            <div class="paraDiv">
                                <p><b>Creativity, Innovation & Reflective Thinking</b></p>
                            </div>
                        </li>
                        <li>
                            <div class="paraDiv">
                                <p><b>Analytical & Decision-Making Ability</b></p>
                            </div>
                        </li>
                        <li>
                            <div class="paraDiv">
                                <p><b>Leadership & Teamwork</b></p>
                            </div>
                        </li>
                        <li>
                            <div class="paraDiv">
                                <p><b>Multicultural Understanding & Global Outlook</b></p>
                            </div>
                        </li>
                        <li>
                            <div class="paraDiv">
                                <p><b>Integrity and Ethics</b></p>
                            </div>
                        </li>
                        <li>
                            <div class="paraDiv">
                                <p><b>Social & Emotional Skills</b></p>
                            </div>
                        </li>
                        <li>
                            <div class="paraDiv">
                                <p><b>Employability, Enterprise & Entrepreneurship</b></p>
                            </div>
                        </li>
                        <li>
                            <div class="paraDiv">
                                <p><b>Lifelong Learning</b></p>
                            </div>
                        </li>
                        <li>
                            <div class="paraDiv">
                                <p><b>Environment and Sustainability</b></p>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</section>