<div class="space shape-mockup-wrap">
    <div class="container">
        <div class="title-area text-center wow fadeInUp" style="visibility: hidden; animation-name: none;">
            <span class="sub-title"> Our Specialities You’ll Like</span>
            <h2 class="sec-title">
                <span class="left-circle"></span> <span class="left-border"></span>
                Why Choose Us!
                <span class="right-border"></span> <span class="right-circle"></span>
            </h2>
        </div>
        <div class="row">
            <div class="col-xl-6 wow fadeInUp">
                <div class="wcu-img-3">
                    <div class="img1 mb-none">
                        <img src="assets/img/update1/normal/why_v2_2_1.webp"
                            alt="Students learning at Amity University Noida" loading="lazy" decoding="async" />
                    </div>
                    <div class="text-end">
                        <div class="img2">
                            <img src="assets/img/update1/normal/why_v2_2_2.webp" loading="lazy" decoding="async"
                                alt="Modern campus infrastructure at Amity University Noida" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInUp">
                <!-- <div class="title-area mb-35">
                    <span class="sub-title">Our Specialities You’ll Like</span>
                    <h2 class="sec-title">Why Choose Us!</h2>
                </div> -->
                <div>
                    <div class="check-box">
                        <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
                        <div class="content">
                            <h3 class="title">Flexible Programs</h3>
                            <p class="text">Explore flexible undergraduate and postgraduate programs across diverse
                                streams and specializations, allowing you to study with convenience.</p>
                        </div>
                    </div>
                    <div class="check-box">
                        <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
                        <div class="content">
                            <h3 class="title">Research Culture</h3>
                            <p class="text">Advance your research at a university that has filed over 2600+ patents.
                                Engage in a research-driven environment featuring multiple centers.</p>
                        </div>
                    </div>
                    <div class="check-box">
                        <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
                        <div class="content">
                            <h3 class="title">Industry Connections</h3>
                            <p class="text">Connect with industry leaders and enroll at a university that has strong
                                partnerships with major companies and CEOs.</p>
                        </div>
                    </div>
                    <div class="check-box">
                        <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
                        <div class="content">
                            <h3 class="title">World-Class Infrastructure</h3>
                            <p class="text">Experience state-of-the-art labs, libraries, and smart campuses designed for
                                success.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>