/* .tab-content>.active {
    display: block;
    background: #e9fbff;
    height: 100%;
    padding: 20px 10px;
    margin: 0px;
    width: 100%;
    box-shadow: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background: #e9fbff;
    height: 100%;
    border: none;
}

.nav-tabs {
    display: flex;
    gap: 1px;
}

.nav-tabs li {
    flex: 1;
    background: #ffc107;
}

.nav-tabs li a {
    color: #000;
    font-weight: 600;
} */


.no-margin p:first-child {
  margin: 0 !important;
}

.tab-content > .active {
  display: block;
  background: #e9fbff;
  height: 100%;
  padding: 20px 10px;
  margin: 0px;
  width: 100%;
  box-shadow: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background: #e9fbff;
  height: 100%;
  border: none;
}

.nav-tabs {
  display: flex;
  gap: 1px;
}

.nav-tabs li {
  flex: 1;
  background: #ffc107;
}

.nav-tabs li a {
  color: #000;
  font-weight: 600;
}

.floating-course-images {
  position: fixed;
  left: 10px;
  bottom: 21%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border: 1px solid #e5e5e5;
  padding: 5px;
  animation: slideInLeft 0.4s ease;
}

.quick-links-header {
  position: relative;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding: 0px 25px 6px 9px;
  background: #f5f5f5;
  border-radius: 8px;
}

.quick-links-close {
  position: absolute;
  right: -1px;
  top: 1px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  color: #666;
  font-weight: 600;
  line-height: 1;
}

.quick-links-close:hover {
  color: #000;
}

.floating-img {
  width: 75px;
  height: 75px;
  cursor: pointer;
  border-radius: 8px;
  object-fit: cover;
  border: 1px solid #ddd;
  transition: 0.3s;
  margin: 0 auto;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.image-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

.image-modal-content {
  position: relative;
  max-width: 90%;
  text-align: center;
}

.zoom-image {
  max-width: 90vw;
  max-height: 70vh;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.zoom-image:hover {
  transform: scale(1.02);
}

.close-btn {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 35px;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
}

.form-control, .form-select, input, select, textarea {
    height: 35px;
    padding: 0 10px 0 10px;
    font-size: 14px;
}
.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #000;
    font-weight: 600;
    height: 35px;
    padding: 0 10px 0 10px;
    font-size: 14px;
}