<div class="breadcumb-wrapper">
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">Amity Universe</h1>
            <ul class="breadcumb-menu">
                <li><a routerLink="/home">Home</a></li>
                <li>Amity Universe</li>
            </ul>
        </div>
    </div>
</div>
<section class="overflow-hidden space background-sec">
    <div class="container">
        <div class="title-area text-center wow fadeInUp">
            <h2 class="sec-title" style="font-weight: 100;">Amity Universe</h2>
            <p>The unwavering commitment towards imparting world-class education is the hallmark of Amity Education
                Group. In fact, Amity’s flagship university has been ranked among the top 3% universities globally by QS
                & THE, the world's leading university rankings organizations.</p>
        </div>
        <div class="row checklist">
            <div class="col-md-4">
                <ul class="mega_menu_nav wow fadeInUp">
                    <li class="mega_menu_head"><b>Higher Education</b></li>
                    <p><strong>India</strong></p>
                    <li><a target="_blank" href="https://www.amity.edu/">Amity University Noida</a></li>
                    <li><a target="_blank" href="https://www.amity.edu/lucknow/">Amity University Lucknow</a></li>
                    <li><a target="_blank" href="https://www.amity.edu/jaipur">Amity University Jaipur</a></li>
                    <li><a target="_blank" href="https://www.amity.edu/gurgaon">Amity University Gurgaon</a></li>
                    <li><a target="_blank" href="https://www.amity.edu/Gwalior">Amity University Gwalior</a></li>
                    <li><a target="_blank" href="https://www.amity.edu/mumbai">Amity University Mumbai</a></li>
                    <li><a target="_blank" href="https://www.amity.edu/greaternoida/">Amity Greater Noida</a></li>
                    <li><a target="_blank" href="https://www.amity.edu/raipur/">Amity University Raipur</a></li>
                    <li><a target="_blank" href="https://www.amity.edu/kolkata/">Amity University Kolkata</a></li>
                    <li><a target="_blank" href="https://www.amity.edu/ranchi/">Amity University Ranchi</a></li>
                    <li><a target="_blank" href="https://www.amity.edu/patna/">Amity University Patna</a></li>
                    <li><a target="_blank" href="https://www.amity.edu/mohali/">Amity University Mohali</a></li>
                    <li><a target="_blank" href="https://www.amity.edu/bengaluru/">Amity University Bengaluru</a></li>
                </ul>

                <ul class="mega_menu_nav mt-4 wow fadeInUp">
                    <p><strong>Global</strong></p>
                    <li><a target="_blank" href="https://www.amity.edu/london/">Amity University in London</a></li>
                    <li><a target="_blank" href="https://www.amityuniversity.ae/">Amity University Dubai</a></li>
                    <!-- <li><a href="javascript:void(0)">Amity New York</a></li>
                    <li><a href="javascript:void(0)">Amity Seattle</a></li>
                    <li><a href="javascript:void(0)">Amity San Francisco</a></li> -->
                    <li><a target="_blank" href="https://www.amitysingapore.sg/">Amity Singapore</a></li>
                    <li><a target="_blank" href="https://amitysa.co.za/">Amity South Africa</a></li>
                    <li><a target="_blank" href="https://amityabudhabi.com/">Amity Abu Dhabi</a></li>
                    <li><a target="_blank" href="https://www.amity.edu/mauritius/">Amity Mauritius</a></li>
                    <!-- <li><a href="javascript:void(0)">Amity China</a></li> -->
                    <li><a target="_blank" href="https://www.amityschool.nl/">Amity Amsterdam</a></li>
                    <!-- <li><a href="javascript:void(0)">Amity Romania</a></li> -->
                    <li><a target="_blank" href="https://amity.uz/en">Amity Tashkent</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul class="mega_menu_nav wow fadeInUp">
                    <li class="mega_menu_head"><b>Schools</b></li>
                    <p><a href="https://amityschools.in/" target="_blank"><strong>Amity International Schools</strong></a></p>
                    <li><a href="https://amityschools.in/saket/" target="_blank">Saket</a></li>
                    <li><a href="https://amityschools.in/noida/" target="_blank">Noida</a></li>
                    <li><a href="https://amityschools.in/gwalior/" target="_blank">Gwalior </a></li>
                    <li><a href="https://amityschools.in/gurugram43/" target="_blank">Power Grid, Gurgaon</a></li>
                    <li><a href="https://amityschools.in/gurugram46/" target="_blank">Sector 46, Gurgaon</a></li>
                    <li><a href="https://amityschools.in/aisv6/" target="_blank">Sector 6, Vasundhara</a></li>
                    <li><a href="https://amityschools.in/aisv1/" target="_blank">Sector 1, Vasundhara</a></li>
                    <li><a href="https://amityschools.in/pushpvihar/" target="_blank">Pushp Vihar</a></li>
                    <li><a href="https://amityschools.in/mayurvihar/" target="_blank">Mayur Vihar</a></li>
                    <li><a href="https://amityschools.in/jagdishpur/" target="_blank">Jagdishpur</a></li>                    
                    <li><a href="https://amityschools.in/vrindavanyojna/" target="_blank">Vindavan Yojna</a></li>
                    <li><a href="https://amityschools.in/virajkhand/" target="_blank">Vrirajkhand</a></li>
                    <li><a href="https://amityschools.in/mohali/" target="_blank">Mohali</a></li>
                    <li><a href="https://amityschools.in/navimumbai/" target="_blank">Navi Mumbai</a></li>
                    <li><a href="https://amityschools.in/raipur/" target="_blank">Raipur </a></li>
                    <p class="mt-4"><a href="javascript:void(0)" target="_blank"><strong>Amity Global School</strong></a></p>
                    <li><a href="https://amityglobalschoolgurgaon.com/" target="_blank">Gurgaon</a></li>
                    <li><a href="https://amityglobalschoolnoida.com/" target="_blank">Noida</a></li>
                </ul>

                <ul class="mega_menu_nav wow fadeInUp">
                    <li class="mega_menu_head"><b>Preschool</b></li>
                    <p><a href="javascript:void(0)"><strong>Amiown</strong></a></p>
                    <li><a href="https://www.amiown.com/" target="_blank">Noida</a></li>
                    <li><a href="https://www.amiown.com/" target="_blank">Gurgaon</a></li>
                    <li><a href="https://www.amiown.com/" target="_blank">Vasundhara</a></li>
                    <li><a href="https://www.amiown.com/" target="_blank">Pushp Vihar</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul class="mega_menu_nav wow fadeInUp">
                    <li class="mega_menu_head"><b>Online & Distance Learning</b></li>
                    <li><a href="https://amityonline.com/" target="_blank">Amity University Online</a></li>
                    <li><a href="http://addoe.amity.edu/" target="_blank">Amity Distance Learning</a></li>
                    <!-- <li><a href="https://amityfutureacademy.com/" target="_blank">Amity Future Academy</a></li> -->
                </ul>
                <ul class="mega_menu_nav wow fadeInUp">
                    <li class="mega_menu_head"><b>Publication</b></li>
                    <li><a href="https://www.amityuniversitypress.com/" target="_blank">Amity University Press</a></li>
                    <li><a href="https://www.amity.edu/ADMAA/publications.aspx" target="_blank">Amity Directorate of
                            Management & Allied Areas (ADMAA)</a></li>
                </ul>
                <ul class="mega_menu_nav wow fadeInUp">
                    <li class="mega_menu_head"><b>Competitive Exams</b></li>
                    <li><a href="https://www.amity.edu/aice/" target="_blank">Amity Institute for Competitive
                            Examinations</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>