<div class="breadcumb-wrapper">
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">LinkedIn Partnership</h1>
            <ul class="breadcumb-menu">
                <li><a routerLink="/home">Home</a></li>
                <li>LinkedIn Partnership</li>
            </ul>
        </div>
    </div>
</div>
<!-- <div class="amity-logo-watermark">
    <img src="assets/img/amity-logo-watermark.png" alt="Alternate Text" />
</div> -->
<section class="overflow-hidden space">
    <div class="container wow fadeInUp">
        <div class="title-area">
            <h2 class="sec-title" style="font-weight: 100;">LinkedIn Partnership</h2>
            <div class="row">
                <div class="col-md-9">
                    <p><b>The Amity Advantage</b></p>
                    <p>Amity University has partnered with LinkedIn, a platform that has more than 500 million
                        professionals
                        worldwide and capturing the attention of even a fraction of this network can help you land
                        internships,
                        jobs, and valuable connections.
                    </p>
                    <p>This division also monitors the implementation and continuous improvements of both academic and
                        non-academic processes and procedures.
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="assets/img/linked.jpg" alt="Amity University Noida LinkedIn logo ">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row gy-4">
            <div class="col-md-12">
                <img src="assets/img/linkedin-partner.png" class="img-fluid"
                    alt="Amity University Noida LinkedIn partner badge logo">
                <p>Students are often put off from starting a LinkedIn profile, because they would rather have no
                    profile, than a poor one. Yet by utilising LinkedIn’s guides on how to create and use an account,
                    you can make sure that the account you are creating is an asset. Below you will find links to
                    LinkedIn’s student tip sheets and videos. These guides have been created by LinkedIn, to ensure that
                    students can create professional accounts, and get the most out of the many features they offer.
                </p>
                <p><b>LinkedIn can be used to:</b></p>
                <ul>
                    <li>Create an online profile</li>
                    <li>Add peers and professionals you know as ‘connections’</li>
                    <li>Join groups to read and contribute to discussions</li>
                    <li>Search for jobs and internships</li>
                    <li>Research industries and individuals using searches</li>
                    <li>Message connections or ask for introductions to their connections</li>
                </ul>
                <p><b>Tip sheets</b></p>
                <ul>
                    <li> LinkedIn Profile checklist – If employers search for you, a LinkedIn page ensures they find
                        what you want them to know. It’s a place to showcase your skills and qualifications, and to get
                        publicly recommended by those you’ve worked with. You can add rich content to your profile such
                        as video, images, and documents. </li>
                    <li> Building a Great Student Profile – Students are often put off from starting a LinkedIn profile,
                        because they would rather have no profile, than a poor one, so read this tip sheet first – and
                        remember to use ‘Settings’ to control what (if anything) appears on your public profile until
                        you’re ready. If you’ve already got a profile and connections, use ‘Settings’ to turn off
                        ‘activity broadcasts’ to make sure your connections don’t receive an email for every edit to
                        your profile you make! </li>
                    <li>
                        Using LinkedIn to find Jobs or Internships – <a href="http://in.linkedin.com/jobs"
                            target="_blank" style="color:#591352">Search jobs </a> by title, company, industry, and
                        region on the LinkedIn <a href="http://in.linkedin.com/jobs" target="_blank"
                            style="color:#591352">India Jobs </a> page. <br>

                        Here’s how LinkedIn’s new jobs pages to can help you unlock your next opportunity:
                        <ul>
                            <li> Potential Connections: LinkedIn evaluates your network and automatically shows you who
                                you know at interesting job opportunities. These insights can help reveal old
                                connections that you never would have thought of to reach out to. </li>
                            <li>Targeted Insights: Provides unique insights such as who from your current company as
                                well as which alumni from your institution now work at the company of interest. </li>
                            <li> Meet the team: With this feature, you can learn more about the type of people you may
                                work with if you pursue the opportunity. It highlights people with similar roles, as
                                well as their skills and career highlights.</li>
                        </ul>
                    </li>
                    <li>
                        How to Network on LinkedIn – Go to the <a
                            href="https://www.linkedin.com/school/amity-university/" target="_blank"
                            style="color:#591352">Amity University </a> page on LinkedIn and click “career insights from
                        over 20,000 alumni”. Here you can identify young people in one of your target sectors. It may be
                        possible to select people who studied your course, so you have as much in common as possible. On
                        their profile there will be a map showing the person in your network who can introduce you to
                        them. Set up an interview to gather information and note the language people use to talk about
                        their jobs. Use this language to tailor your cv, cover letter or application. It is better to
                        first master the language and detail of a new organisation by talking to younger alumni, and
                        then consider contacting more senior alumni in the organisation.
                    </li>
                    <li>
                        Tailoring your Profile to your Goals – Tailoring your profile is important; you want your
                        profile to help you achieve your dream career. Remember that you want your profile to show who
                        you want to be, make it forward looking, it is not as important for people to understand the
                        details of how you were in the past.
                    </li>
                    <li>
                        How to Communicate Effectively on LinkedIn – With so many people using LinkedIn, you want to
                        make sure that your messages, comments and updates stand out from the crowd.
                    </li>
                    <li>
                        Build your personal Brand on LinkedIn – One of the main reasons for using LinkedIn is to show
                        your professional on-line brand to potential employers. It is best to focus on what makes you
                        unique and what you can offer.
                    </li>
                    <li>
                        The LinkedIn Alumni Tool – There are over 20,000 Amity University students and alumni on
                        LinkedIn, and the alumni tool provides a powerful search facility, giving you the ability to
                        filter alumni based on keywords, employer name, subject studied, location, their skills and
                        sector. Knowing more about what alumni have gone on to do can help you to make academic and
                        career choices, and find people who you could search for on the wider web before making contact
                        to ask for further advice on following in their footsteps.<br>
                        LinkedIn also provides short, four-minute informational videos. <br>
                        Amity University offers courses in <a href="https://in.linkedin.com/jobs/applied-sciences-jobs"
                            target="_blank" style="color:#591352">Applied Sciences </a>, <a
                            href="https://in.linkedin.com/jobs/architect-jobs" target="_blank" style="color:#591352">
                            Architecture </a>, <a href="https://in.linkedin.com/jobs/biotechnology-jobs" target="_blank"
                            style="color:#591352"> Biotech </a>, Commerce, <a
                            href="https://in.linkedin.com/jobs/communications-jobs" target="_blank"
                            style="color:#591352"> Communication </a>, <a
                            href="https://in.linkedin.com/jobs/computer-science-jobs" target="_blank"
                            style="color:#591352"> Computer Science </a>/ IT, Design, <a
                            href="https://in.linkedin.com/jobs/economics-jobs" target="_blank" style="color:#591352">
                            Economics </a>, Engineering, English literature, Fashion, Finance, Fine Arts, <a
                            href="https://in.linkedin.com/jobs/forensic-science-jobs" target="_blank"
                            style="color:#591352"> Forensic Sciences </a>, Hotel Management, Hospitality, Language, Law,
                        Liberal Arts, <a href="https://in.linkedin.com/jobs/management-jobs" target="_blank"
                            style="color:#591352"> Management </a>, Medical, Microbial Sciences,<a
                            href="https://in.linkedin.com/jobs/nanotechnology-jobs" target="_blank"
                            style="color:#591352"> Nanotechnology </a>, Nursing, Psychology &amp; Behavioural Science,
                        Travel &amp; Tourism.<br>
                        So, tell your story and make yourself memorable!
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>