<div class="breadcumb-wrapper">
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">Integrated Programs</h1>
            <ul class="breadcumb-menu">
                <li><a routerLink="/home">Home</a></li>
                <li>Integrated Programs</li>
            </ul>
        </div>
    </div>
</div>

<section>
    <div style="padding: 50px 0px 50px 0px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="course-li">

                        @for (item of PGIntegratedData; track item.sCourseCode) {
                        <li class="wow fadeInUp">
                            <p class="bdr-bottom">{{item.sfullname}} 
                                <a [routerLink]="['/pg-integrated-programmes', item.SlugName]"
                                    class="view-detailsBtn">View Details</a>
                                @if (item.bAdmissionOpen == 1) {
                                    <a [href]="'https://noida.amity.edu/admissions-2026/?utm_term=keywordcoursecode_'+ item.sCourseCode" target="_blank"
                                        class="apply-nowBtn">Apply Now</a>
                                    }
                                    @else {
                                        <!-- <span class="apply-nowBtn">Admission Closed</span> -->
                                    }
                                
                            </p>
                        </li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>