<div class="breadcumb-wrapper">
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">Social Initiatives</h1>
            <ul class="breadcumb-menu">
                <li><a routerLink="/home">Home</a></li>
                <li>Social Initiatives</li>
            </ul>
        </div>
    </div>
</div>
<section class="overflow-hidden">
    <!-- <div class="container">
        <div class="title-area wow fadeInUp">
            <h2 class="sec-title" style="font-weight: 100;">Social Initiatives</h2>
            <p>As India's leading education group, Amity is also committed to nation-building beyond education reflected
                in the efforts and initiatives of the Amity Humanity Foundation. Established in 1995, the mission of
                Amity Humanity Foundation is to support and initiate social welfare activities and create possibilities
                for equitable social development.</p>
        </div>
    </div> -->
    <div class="team-area overflow-hidden space">
        <div class="container social-initiatives">
            <div class="row">
                <div class="col-lg-7 wow fadeInUp">
                    <div class="instructor-profile-right">
                        <div class="inner">
                            <div class="section-title text-start">
                                <p>The journey of AHF began in the year 2001. Established as a registered NGO under the
                                    aegis of Amity - India’s leading education group with 150,000 students, 8
                                    universities, 12 business schools, 150+ institutions and 10 overseas campuses, the
                                    foundation truly reflects the social responsibility consciousness and concerns of
                                    Amity Group of Institutions which form an integral part of the group’s philosophy.
                                </p>
                                <p>Since then, AHF has focused on core areas of development like education, health and
                                    governance.</p>
                                <p>It has set up a chain of schools like Amitasha and Atulasha to provide quality
                                    education to the underprivileged children.</p>
                                <p>It has undertaken projects on women empowerment, rehabilitation of the physically
                                    disabled, HIV/AIDS awareness and other socially relevant issues, thus bringing about
                                    a change in the lives of many.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-5 wow fadeInUp">
                    <div class="instructor-profile">
                        <div class="inner">
                            <div class="thumbnail">
                                <img src="assets/img/ashok-chauhan.jpg" alt="About Images">
                            </div>
                            <div class="content">
                                <h5 class="title">Dr. Ashok K. Chauhan</h5>
                                <span class="subtitle">Founder of Amity</span>
                                <p>Amity Humanity Foundation (AHF) was born out of the desire to do something meaningful
                                    for the society.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container social-initiatives">
            <div class="row">
                <div class="col-lg-3 wow fadeInUp">
                    <div class="instructor-profile2">
                        <div class="inner">
                            <div class="thumbnail">
                                <img src="assets/img/amita-chauhan-social-initiatives.jpg" alt="About Images">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-9 wow fadeInUp">
                    <div class="instructor-profile-right">
                        <div class="inner">
                            <div class="section-title text-start">
                                <div class="content">
                                    <h5 class="title">Dr. (Mrs.) Amita Chauhan</h5>
                                    <span class="subtitle">President, Amitasha Foundation For Upliftment<br>
                                        of Under-Privileged Children<br>
                                        Chairperson, Amity Group of Schools</span>
                                </div>
                                <p>In India, girls carry the honour of their families and are the cornerstones on which
                                    homes are built. In a scenario like this, it is imperative that we impart education
                                    to the girl child, who in turn becomes responsible for the education of the family,
                                    thereby contributing to nation building.</p>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container social-initiatives">
            <div class="row">
                <div class="col-lg-3 wow fadeInUp">
                    <div class="instructor-profile2">
                        <div class="inner">
                            <div class="thumbnail">
                                <img src="assets/img/pooja-chauhan-social-initiatives.jpg" alt="About Images">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 wow fadeInUp">
                    <div class="instructor-profile-right">
                        <div class="inner">
                            <div class="section-title text-start">
                                <div class="content">
                                    <h5 class="title">Pooja Chauhan</h5>
                                    <span class="subtitle">Chairperson,<br>
                                        Amity Humanity Foundation</span>
                                </div>
                                <p>Every initiative of the Amity Humanity Foundation is aimed not only at transforming
                                    the lives of the underprivileged but also sending out a strong social message that
                                    it is our collective responsibility to help them. The Amity Group has its roots in
                                    humanitarian activities and nation building through education and beyond. And in
                                    today’s world we believe that it is especially important to support needy women and
                                    underprivileged children. In fact we should all realise that giving back to society
                                    is not an act of charity, it is our solemn duty.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</section>
<section class="space" style="background: #f0f4ff;">
    <div style="padding: 0px 0px 50px 0px;">
        <div class="container core-programmes">
            <h4 style="font-weight: 500;">Core Programmes Implemented </h4>
            <div class="row gy-4" style="justify-content: center; text-align: center;">
                <div class="col-md-4 col-xl-4 wow fadeInUp">
                    <div class="admission-card">
                        <img src="assets/img/core-icon1.png" alt=" image" />
                        <p><b>Education of the Underprivileged Children</b></p>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 wow fadeInUp">
                    <div class="admission-card">
                        <img src="assets/img/core-icon2.png" alt=" image" />
                        <p><b>Empowerment of Women</b></p>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 wow fadeInUp">
                    <div class="admission-card">
                        <img src="assets/img/core-icon3.png" alt=" image" />
                        <p><b>Health with Emphasis on HIV/AIDS</b></p>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 wow fadeInUp">
                    <div class="admission-card">
                        <img src="assets/img/core-icon4.png" alt=" image" />
                        <p><b>Livelihood Generation & Community Development</b></p>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 wow fadeInUp">
                    <div class="admission-card">
                        <img src="assets/img/core-icon5.png" alt=" image" />
                        <p><b>Caring for the Environment</b></p>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 wow fadeInUp">
                    <div class="admission-card">
                        <img src="assets/img/core-icon6.png" alt=" image" />
                        <p><b>Research and Impact Evaluation Studies</b></p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row gy-4" style="margin-bottom: 40px;background: #fff; box-shadow: 0 4px 20px 0 rgb(228 228 228);">
            <div class="col-md-12 wow fadeInUp">
                <h4 style="font-weight: 500; ">Amitasha - Nurturing the girl child</h4>
                <p>Amitasha was established in the year 2000 as an initiative of Amity Humanity Foundation with 35
                    girl students. The mission was to offer free education to the underprivileged girls of the
                    society and thereby providing them a level playing ground to realise their potential.</p>
                <p>Today, Amitasha runs 5 schools in Delhi NCR where over 1,000 girls in the age group of 5-18 get
                    educated. The schools are run in the campus of Amity International Schools (AIS) and boast of
                    the best infrastructure required to provide the ideal learning environment to the children.
                    Starting from Nursery, these girls remain with Amitasha till class XII under the able guidance
                    of professionally qualified teachers. Amitasha also provides free meals, books, uniforms and
                    health care for these children. Students who display extraordinary potential and interest are
                    encouraged to study further at the other Amity institutions. Apart from academics, the girls are
                    also given vocational training so that, tomorrow they have the ability to become economically
                    independent. </p>
                <p>The first batch of Amitasha girls appeared for Class XII exams conducted by CBSE, as students of
                    Amity International School in the academic year 2013-14 and have got admission in good colleges
                    of Delhi University. Thereafter, three more batches of Amitasha Girls have cleared Class XII
                    exams so for.</p>
            </div>

            <div class="row wow fadeInUp">
                <img src="assets/img/amitasha1.jpg" class="img-fluid img-thumbnail col-md-4" alt="Amity University Noida Amitasha social initiative event 1">
                <img src="assets/img/amitasha2.jpg" class="img-fluid img-thumbnail col-md-4" alt="Amity University Noida Amitasha social initiative event 2">
                <img src="assets/img/amitasha3.jpg" class="img-fluid img-thumbnail col-md-4" alt="Amity University Noida Amitasha social initiative event 3">
            </div>
        </div>
    </div>
</section>