<div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <img src="assets/img/update1/hero/slider-1.webp" alt="Amity Slider Image" class="d-block w-100">

            <div class="carousel-caption-back">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-8 carousel-caption">
                            <div class="hero-style5">
                                <!-- <span class="hero-subtitle mb-none">
                                    A Leading Not-For-Profit Private University in India Where Learning, Research, and
                                    Industry Converge
                                </span> -->
                                <h1 class="hero-title">
                                    <span class="amitytext">Learn. Innovate. Lead.</span>
                                </h1>
                                <h2 class="hero-title">
                                    Learn through excellence, innovation, and real-world experiences that shape your future.
                                </h2>

                                <div class="btn-wrap">
                                    <a routerLink="/all-programs" class="btn btn-warning"
                                        (click)="onClick('hpb_explore_clicked')">
                                        Explore Programs <i class="fas fa-arrow-right"></i>
                                    </a>
                                    <a href="https://noida.amity.edu/admissions-2026/?utm_source=organic&utm_medium=Google_SERP&utm_campaign=HPBApplyNow&utm_term={keyword}"
                                        target="_blank" class="btn btn-warning"
                                        (click)="onHomeApplyClick('hpb_applynow_clicked')">
                                        Apply Now <i class="fas fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <img src="assets/img/update1/hero/slider-2.webp" alt="Amity Slider Image" class="d-block w-100">

            <div class="carousel-caption-back">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-8 carousel-caption">
                            <div class="hero-style5">
                                <!-- <span class="hero-subtitle mb-none">
                                    Recognised for Academic Excellence and Institutional Impact
                                </span> -->
                                <h2 class="hero-title">
                                    <span class="amitytext">Dream Bigger. Worry Less.</span>
                                </h2>
                                <h2 class="hero-title">
                                    Explore scholarship opportunities that make quality education more accessible.
                                </h2>

                                <div class="btn-wrap">
                                    <a routerLink="/all-programs" class="btn btn-warning"
                                        (click)="onClick('hpb_explore_clicked')">
                                        Explore Programs <i class="fas fa-arrow-right ms-2"></i>
                                    </a>
                                    <a href="https://noida.amity.edu/admissions-2026/?utm_source=organic&utm_medium=Google_SERP&utm_campaign=HPBApplyNow&utm_term={keyword}"
                                        target="_blank" class="btn btn-warning"
                                        (click)="onHomeApplyClick('hpb_applynow_clicked')">
                                        Apply Now <i class="fas fa-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <img src="assets/img/update1/hero/slider-3.webp" alt="Amity Slider Image" class="d-block w-100">

            <div class="carousel-caption-back">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-8 carousel-caption">
                            <div class="hero-style5">
                                <!-- <span class="hero-subtitle mb-none">
                                    A multidisciplinary university focused on academic excellence
                                </span> -->
                                <h2 class="hero-title">
                                    <span class="amitytext">The Campus Everyone Wishes They Experienced</span>
                                </h2>
                                <h2 class="hero-title">
                                    Iconic events, world-class spaces, global exposure, and memories that last forever.
                                </h2>

                                <div class="btn-wrap">
                                    <a routerLink="/all-programs" class="btn btn-warning"
                                        (click)="onClick('hpb_explore_clicked')">
                                        Explore Programs <i class="fas fa-arrow-right ms-2"></i>
                                    </a>
                                    <a href="https://noida.amity.edu/admissions-2026/?utm_source=organic&utm_medium=Google_SERP&utm_campaign=HPBApplyNow&utm_term={keyword}"
                                        target="_blank" class="btn btn-warning"
                                        (click)="onHomeApplyClick('hpb_applynow_clicked')">
                                        Apply Now <i class="fas fa-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>


<div class="feature-area-1 mb-none">
    <div class="container-fluid" style="width: 95%;box-shadow: rgb(199, 199, 199) 0px 4px 20px 0px;padding: 20px;">
        <div class="row justify-content-xl-between justify-content-center">
            <div class="col-sm-auto col-xl-auto">
                <div class="feature-wrap wow fadeInUp">
                    <div class="feature_icon">
                        <i class="fal fa-school me-2"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="box-title">12<br /> Universities</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-auto col-xl-auto">
                <div class="feature-wrap wow fadeInUp">
                    <div class="feature_icon">
                        <i class="fal fa-institution me-2"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="box-title">150+ Institution <br /> & Centers</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-auto col-xl-auto">
                <div class="feature-wrap wow fadeInUp">
                    <div class="feature_icon">
                        <i class="fal fa-graduation-cap me-2"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="box-title">600+<br /> Programs</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-auto col-xl-auto">
                <div class="feature-wrap wow fadeInUp">
                    <div class="feature_icon">
                        <i class="fal fa-school me-2"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="box-title">1000 Acres <br /> of Campuses</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-auto col-xl-auto">
                <div class="feature-wrap wow fadeInUp">
                    <div class="feature_icon">
                        <i class="fal fa-users me-2"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="box-title">13 Overseas <br /> Campuses</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space overflow-hidden homesec" style="position: relative;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 mb-none">
                <img src="assets/img/about-4.webp" alt="Welcome to Amity University" />
            </div>
            <div class="col-md-7">
                <div class="wcu-wrap1 text-justify">
                    <div class="title-area mb-25">
                        <span class="sub-title">
                            Together we will change the World
                        </span>
                        <h2 class="sec-title">Welcome to Amity University Noida</h2>
                        <p class="sec-text mt-20">
                            As India’s top-ranked private, non-profit university, Amity University Noida is renowned for
                            its academic
                            rigour and UGC-recognized programs. In addition to being a premier private university in
                            Noida, we are a pioneer in learning, innovation, and leadership, shaping the future of
                            education.
                        </p>
                        <p class="sec-text mt-20">
                            Amity University Noida believes in nurturing future leaders who are not only experts in
                            their fields but also
                            compassionate individuals, guided by strong values and ethics.
                        </p>
                        <p class="sec-text mt-20">
                            If you're ready to challenge yourself, grow, and contribute to meaningful change, join Amity
                            University today. Together, we can make a difference.
                        </p>
                    </div>
                    <a routerLink="/rankings" class="btn btn-warning" (click)="onReadClick('hp_read_more_clicked')">
                        Read More
                        <i class="fas fa-arrow-right ms-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="course-sec" class="space backgroundImg">
    <div class="container">
        <div class="title-area text-center wow fadeInUp" style="visibility: hidden; animation-name: none;">
            <span class="sub-title"> University Programs</span>
            <h2 class="sec-title">
                <span class="left-circle"></span> <span class="left-border"></span>
                Excellence In Teaching And Learning
                <span class="right-border"></span> <span class="right-circle"></span>
            </h2>
        </div>
        <div class="row gy-4">
            <div class="col-md-4 col-xl-4 text-justify wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <div class="admission-card">
                    <div class="admission-card_img"><img src="assets/img/update1/normal/admission_1_1.jpg"
                            alt="Graduate Programs" /></div>
                    <div class="program-box">
                        <h5>Graduate Programs</h5>
                        <p class="admission-card_text">Discover UGC-accredited undergraduate programs and equip
                            yourself
                            with globally relevant skills and expertise for the future.</p>
                        <a routerLink="/ug" class="btn btn-warning"
                            (click)="onUGExploreClick('ug_explore_more_clicked')">Explore More <i
                                class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xl-4 text-justify wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <div class="admission-card">
                    <div class="admission-card_img"><img src="assets/img/update1/normal/admission_1_2.jpg"
                            alt="Postgraduate Programs" /></div>
                    <div class="program-box">
                        <h5>Postgraduate Programs</h5>
                        <p class="admission-card_text">Deepen your knowledge and take the next step toward expertise.
                            Gain
                            advanced insights with our postgraduate programs.</p>
                        <a routerLink="/pg" class="btn btn-warning"
                            (click)="onPGExploreClick('pg_explore_more_clicked')">Explore More <i
                                class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4 text-justify wow fadeInUp" style="visibility: hidden; animation-name: none;">
                <div class="admission-card">
                    <div class="admission-card_img"><img src="assets/img/update1/normal/admission_1_3.jpg"
                            alt="Doctoral Programs" /></div>
                    <div class="program-box">
                        <h5>Doctoral Programs</h5>
                        <p class="admission-card_text">Engage in groundbreaking research and drive innovations that
                            shape
                            the future. Lead with our doctoral programs.</p>
                        <a routerLink="/phd" class="btn btn-warning"
                            (click)="onPhdExploreClick('phd_explore_more_clicked')">
                            Explore More <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-bottom: -150px; margin-top: 50px;">
    <div class="container">
        <div class="cta-wrap5 shape-mockup-wrap wow fadeInUp">
            <div class="row flex-row-reverse justify-content-between" style="background: #0b2d4c;">
                <div class="col-lg-6">
                    <div class="cta-img">
                        <img src="assets/img/update1/normal/cta_1_1.png"
                            alt="Visual representation of a prosperous future" />
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="cta-content2">
                        <img src="assets/img/banner-content.png" alt="Amity Advantage Banner"
                            style="width: 400px; display: block; margin-bottom: 10px;">
                        <!-- <h4 class="fw-bold text-theme mb-10">Amity University Noida Advantage</h4>
                        <h6 class="mb-25 fw-light">Don’t Let Opportunities Pass You By! Your Career Is Waiting For You
                            To Hit The
                            Accelerator</h6> -->
                        <a href="https://noida.amity.edu/amityadvantage/?utm_source=organic&utm_medium=Google_SERP&utm_campaign=homepageadvantage&utm_term={keyword}"
                            target="_blank" class="btn btn-warning" (click)="onClickHere('hp_here_banner_clicked')">
                            Click here<i class="fas fa-arrow-right ms-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="space-top space-extra-bottom shape-mockup-wrap p-top200">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-30 wow fadeInUp">
                <a href="https://noida.amity.edu/admissions-2026/?utm_source=organic&utm_medium=Google_SERP&utm_campaign=homepageapplyadmission&utm_term={keyword}"
                    (click)="onAdmissionApplyClick('hp_Apply_for_admission')" target="_blank">
                    <img src="assets/img/browser-course-01.jpg" alt="Apply for admission now amity university noida">
                </a>
            </div>
            <div class="col-md-6 wow fadeInUp">
                <a href="https://noida.amity.edu/admissions-2026/?utm_source=organic&utm_medium=Google_SERP&utm_campaign=homepageapplyscholarship&utm_term={keyword}"
                    (click)="onScholarshipApplyClick('hp_Apply_for_scholarship')" target="_blank">
                    <img src="assets/img/browser-course-02.jpg" alt="Apply for scholarship now amity university noida">
                </a>
            </div>
        </div>
    </div>
</section>

<div class="counter-area-2 background-image py-5"
    style="background-image: url('assets/img/bg/counter-bg_1.png'); background-size: cover; background-position: center;">
    <div class="container-fluid">
        <div class="row justify-content-between text-center">

            <!-- Papers Published -->
            <div class="col-md-3 col-6 mb-4 counter-card-wrap">
                <div class="counter-card">
                    <span #counter class="count display-6 count-home" data-target="45000">0</span>
                    <span class="display-6">+</span>
                    <p class="counter-card_text mt-2">
                        <strong>Papers</strong> Published
                    </p>
                </div>
            </div>

            <!-- Books Authored -->
            <div class="col-md-3 col-6 mb-4 counter-card-wrap">
                <div class="counter-card">
                    <span #counter class="count display-6 count-home" data-target="900">0</span>
                    <span class="display-6">+</span>
                    <p class="counter-card_text mt-2">
                        <strong>Books</strong> Authored
                    </p>
                </div>
            </div>

            <!-- Govt Funded Projects -->
            <div class="col-md-3 col-6 mb-4 counter-card-wrap">
                <div class="counter-card">
                    <span #counter class="count display-6 count-home" data-target="400">0</span>
                    <span class="display-6">+</span>
                    <p class="counter-card_text mt-2">
                        <strong>Govt. Funded</strong> Research Projects
                    </p>
                </div>
            </div>

            <!-- Patents Filed -->
            <div class="col-md-3 col-6 mb-4 counter-card-wrap">
                <div class="counter-card">
                    <span #counter class="count display-6 count-home" data-target="100">0</span>
                    <span class="display-6">+</span>
                    <p class="counter-card_text mt-2">
                        <strong>Patents Filed by Brilliant</strong> Students
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="space shape-mockup-wrap">
    <div class="container">
        <div class="title-area text-center wow fadeInUp" style="visibility: hidden; animation-name: none;">
            <span class="sub-title"> Our Specialities You’ll Like</span>
            <h2 class="sec-title">
                <span class="left-circle"></span> <span class="left-border"></span>
                Why Choose Us!
                <span class="right-border"></span> <span class="right-circle"></span>
            </h2>
        </div>
        <div class="row">
            <div class="col-xl-6 wow fadeInUp">
                <div class="wcu-img-3">
                    <div class="img1 mb-none">
                        <img src="assets/img/update1/normal/why_v2_2_1.jpg" alt="Illustration of Why Choose Us" />
                    </div>
                    <div class="text-end">
                        <div class="img2">
                            <img src="assets/img/update1/normal/why_v2_2_2.jpg" alt="Supporting Image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInUp">
                <!-- <div class="title-area mb-35">
                    <span class="sub-title">Our Specialities You’ll Like</span>
                    <h2 class="sec-title">Why Choose Us!</h2>
                </div> -->
                <div>
                    <div class="check-box">
                        <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
                        <div class="content">
                            <h3 class="title">Flexible Programs</h3>
                            <p class="text">Explore flexible undergraduate and postgraduate programs across diverse
                                streams and specializations, allowing you to study with convenience.</p>
                        </div>
                    </div>
                    <div class="check-box">
                        <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
                        <div class="content">
                            <h3 class="title">Research Culture</h3>
                            <p class="text">Advance your research at a university that has filed over 2600+ patents.
                                Engage in a research-driven environment featuring multiple centers.</p>
                        </div>
                    </div>
                    <div class="check-box">
                        <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
                        <div class="content">
                            <h3 class="title">Industry Connections</h3>
                            <p class="text">Connect with industry leaders and enroll at a university that has strong
                                partnerships with major companies and CEOs.</p>
                        </div>
                    </div>
                    <div class="check-box">
                        <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
                        <div class="content">
                            <h3 class="title">World-Class Infrastructure</h3>
                            <p class="text">Experience state-of-the-art labs, libraries, and smart campuses designed for
                                success.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="testi-area-1 overflow-hidden space-bottom">
    <div class="container">
        <div class="title-area text-center wow fadeInUp" style="visibility: hidden; animation-name: none;">
            <span class="sub-title"> Our Testimonials</span>
            <h2 class="sec-title">
                <span class="left-circle"></span> <span class="left-border"></span>
                Alumni
                <span class="right-border"></span> <span class="right-circle"></span>
            </h2>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-md-12">
                <div id="studentCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div *ngFor="let item of AlumniTestimonials; let i = index" class="carousel-item"
                            [ngClass]="{'active': i === 0}">
                            <div class="testi-box row">
                                <div class="testi-box_img col-12 col-md-4 order-1 order-md-2">
                                    <img src="https://img.amizone.net/AzureFileHandler.ashx?FileName=amitywebsite/userfiles/Noida2024/{{item.ImagePath}}"
                                        class="img-thumbnail" alt="Image of {{item.Name}}" />
                                </div>
                                <div class="col-12 col-md-8 order-2 order-md-1">
                                    <!-- <i class="fa fa-quote-left quote-icon"></i> -->
                                    <p class="testi-box_text">
                                        {{item.Message}}
                                    </p>
                                    <div class="testi-box_name">
                                        <div class="testi-box-author-details">
                                            <h3 class="testi-box_name">
                                                {{item.Name}}
                                                <span class="testi-box_desig">{{item.StudentDetails}}</span>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#studentCarousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#studentCarousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="overflow-hidden space" id="blog-sec">
    <div class="container">
        <div class="title-area text-center wow fadeInUp" style="visibility: hidden; animation-name: none;">
            <span class="sub-title"> Our Events</span>
            <h2 class="sec-title">
                <span class="left-circle"></span> <span class="left-border"></span>
                Events
                <span class="right-border"></span> <span class="right-circle"></span>
            </h2>
        </div>
        <div class="row text-center wow fadeInUp">
            <ng-container *ngFor="let item of eventsData; trackBy: trackByEventId">
                <div class="col-md-4 col-xl-4 mb-4">
                    <div class="th-blog blog-single style2">
                        <div class="blog-img">
                            <a [routerLink]="['/events', item.SlugName]"> 
                                <img src="https://portal.amity.edu/backoffice/Uploads/Event/{{item.eimage}}"
                                    alt="{{item.sEventName}} Event Image" />
                            </a>
                        </div>
                        <div class="blog-content">
                            <h4 class="box-title fw-light">
                                <a [routerLink]="['/events', item.SlugName]">
                                    {{ item.sEventName | slice:0:80 }}{{ item.sEventName.length > 80 ? '...' : '' }}
                                </a>
                            </h4>
                            <a [routerLink]="['/events', item.SlugName]"
                                class="btn btn-warning">
                                Explore More <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="col-md-12 text-center wow fadeInUp">
            <a routerLink="/events" class="btn btn-warning" (click)="onEventClick('footer_view_all_events_clicked')">
                View All Events </a>
        </div>
    </div>
</section>



<!-- =========================
TOGGLE BUTTON
========================= -->

<!-- SHOW CROSS WHEN POPUP OPEN -->
<button class="notification-bell" *ngIf="showPopup  && lastDateText" (click)="showPopup = false">

    <i class="fa fa-times"></i>

</button>


<!-- SHOW BELL WHEN POPUP CLOSED -->
<button class="notification-bell" *ngIf="!showPopup  && lastDateText" (click)="showPopup = true">

    <i class="fa fa-bell"></i>

</button>



<!-- =========================
BOTTOM STICKY BAR
========================= -->

<div class="admission-sticky-bar" *ngIf="lastDateText">

    <div class="container-fluid w-100">

        <div class="row align-items-center justify-content-center text-center">

            <div class="col-lg-10 col-12">

                <a routerLink="/scholarships" class="sticky-bar-link">
                    Last
                    <span class="countdown-box">
                        {{ days }}d
                    </span>

                    <span class="countdown-box">
                        {{ hours }}h
                    </span>

                    <span class="countdown-box">
                        {{ minutes }}m
                    </span>

                    <span class="countdown-box">
                        {{ seconds }}s
                    </span>

                    Left to apply for this Round of Applications | Avail Scholarship Benefits.
                </a>

            </div>

        </div>

    </div>

</div>



<!-- =========================
POPUP
========================= -->

<div class="scholarship-popup" *ngIf="showPopup && lastDateText">

    <!-- TIMER -->
    <div class="popup-countdown">
        <div class="time-box">
            <span>{{ days }}</span>
            <small>Days</small>
        </div>

        <div class="time-box">
            <span>{{ hours }}</span>
            <small>Hours</small>
        </div>

        <div class="time-box">
            <span>{{ minutes }}</span>
            <small>Minutes</small>
        </div>

        <div class="time-box">
            <span>{{ seconds }}</span>
            <small>Seconds</small>
        </div>

    </div>

    <!-- CONTENT -->
    <div class="popup-content">

        <h4>
            Secure your Seat before this round of Applications closes | Avail Scholarship benefits.
        </h4>

        <a routerLink="/scholarships" class="popup-btn">
            Apply Now
            <i class="fa fa-arrow-right ms-2"></i>

        </a>

    </div>

</div>