<div class="breadcumb-wrapper">
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">Campus Infrastructure</h1>
            <ul class="breadcumb-menu">
                <li><a routerLink="/home">Home</a></li>
                <li>Infrastructure</li>
            </ul>
        </div>
    </div>
</div>
<!-- <div class="amity-logo-watermark">
    <img src="assets/img/amity-logo-watermark.png" alt="Alternate Text" />
</div> -->
<section class="overflow-hidden space background-sec">
    <div class="container wow fadeInUp">
        <div class="title-area text-center">
            <h2 class="sec-title" style="font-weight: 100;">Campus Infrastructure</h2>
            <p>The world-class Amity Univesity Noida campus, spread over 85 acres has all amenities to ensure an all-round development for students that include amphitheatre-styled, air-conditioned classrooms, hi-tech labs and libraries, expansive sports complexes, multi-cuisine restaurants, bookstores, and on-campus hostels, making for an unparalleled on-campus experience.</p>
        </div>
    </div>
    <div class="container">
        <div class="row gy-4" style="justify-content: center;">
            <div class="col-md-4 col-xl-4 wow fadeInUp">
                <a routerLink="/academic" class="th-btn" style="width: 100%; font-size: 20px; padding: 30px;">Academic <i class="fas fa-arrow-right ms-1"></i></a>
            </div>
            <div class="col-md-4 col-xl-4 wow fadeInUp">
                <a routerLink="/non-academic" class="th-btn" style="width: 100%; font-size: 20px; padding: 30px;">Non Academic <i class="fas fa-arrow-right ms-1"></i></a>
            </div>
        </div>
    </div>
</section>