<div class="feature-area-1 mb-none">
    <div class="container-fluid" style="width: 95%;box-shadow: rgb(199, 199, 199) 0px 4px 20px 0px;padding: 20px;">
        <div class="row justify-content-xl-between justify-content-center">
            <div class="col-sm-auto col-xl-auto">
                <div class="feature-wrap">
                    <div class="feature_icon">
                        <i class="fal fa-school me-2"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="box-title">12<br /> Universities</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-auto col-xl-auto">
                <div class="feature-wrap">
                    <div class="feature_icon">
                        <i class="fal fa-institution me-2"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="box-title">150+ Institution <br /> & Centers</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-auto col-xl-auto">
                <div class="feature-wrap">
                    <div class="feature_icon">
                        <i class="fal fa-graduation-cap me-2"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="box-title">600+<br /> Programs</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-auto col-xl-auto">
                <div class="feature-wrap">
                    <div class="feature_icon">
                        <i class="fal fa-school me-2"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="box-title">1000 Acres <br /> of Campuses</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-auto col-xl-auto">
                <div class="feature-wrap">
                    <div class="feature_icon">
                        <i class="fal fa-users me-2"></i>
                    </div>
                    <div class="media-body">
                        <h5 class="box-title">13 Overseas <br /> Campuses</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>