<div class="breadcumb-wrapper">
    <div class="container">
        <div class="breadcumb-content text-center">
            <h1 class="breadcumb-title">Media Coverage</h1>
            <ul class="breadcumb-menu">
                <li><a routerLink="/home">Home</a></li>
                <li>Media Coverage</li>
            </ul>
        </div>
    </div>
</div>
<section class="space bg-smoke">
    <div class="container">
        <div class="row gy-4">
            <div class="col-md-4 col-xl-4 wow fadeInUp">
                <div class="admission-card">
                    <div class="admission-card_img">
                        <img src="assets/img/news1.jpg" alt=" image" />
                    </div>
                    <p class="mt-20"><strong>02 Feb 2023 :</strong> <em>The Times of India - Noida - Page-18</em></p>
                    <p class="admission-card_text">Quote of Dr. Balvinder Shukla, Vice Chancellor, Amity University Uttar Pradesh, on Union Budget 2023</p>
                </div>
            </div>
            <div class="col-md-4 col-xl-4 wow fadeInUp">
                <div class="admission-card">
                    <div class="admission-card_img">
                        <img src="assets/img/news2.jpg" alt=" image" />
                    </div>
                    <p class="mt-20"><strong>02 Feb 2023 :</strong> <em>Navbharat Times - Noida - Page-02</em></p>
                    <p class="admission-card_text">19th Asian Regional Space Settlement Design Competition (ARSSDC) held at Amity</p>
                </div>
            </div>

            <div class="col-md-4 col-xl-4 wow fadeInUp">
                <div class="admission-card">
                    <div class="admission-card_img">
                        <img src="assets/img/news3.jpg" alt=" image" />
                    </div>
                    <p class="mt-20"><strong>02 Feb 2023 :</strong> <em>Hindustan - Noida - Page-02</em></p>
                    <p class="admission-card_text">Quote of Dr. Sanjeev Bansal, Director, Amity Business School, on Union Budget 2023</p>
                </div>
            </div>

            <div class="col-md-4 col-xl-4 wow fadeInUp">
                <div class="admission-card">
                    <div class="admission-card_img">
                        <img src="assets/img/news4.jpg" alt=" image" />
                    </div>
                    <p class="mt-20"><strong>01 Feb 2023 :</strong> <em>Shiksha.com - Online - Page-01</em></p>
                    <p class="admission-card_text">19th Asian Regional Space Settlement Design Competition (ARSSDC) held at Amity</p>
                </div>
            </div>

        </div>
    </div>
</section>
